<form id="{$form.name}" name="{$form.name}">
<style>
{literal}
.form_icon{
float:left;
padding-right:12px;
}
h2{
line-height: 28px;
font-size: 18px;
    font-weight: normal;
}
.system_name
{
background-image:url({/literal}{$resource_url}{literal}/oauth/images/system_name_bg.png);
background-repeat:no-repeat;
background-position:76px 10px;
width:200px;
height:65px;
}
.system_name h2
{
float:left;
display:block;
padding-top:28px;
padding-left:15px;
font-size:20px;
width:120px;
height:30px;
overflow:hidden;
}
p.input_row
{
height:26px;
}
.system-block{
padding-bottom:20px;
padding-left:20px;
}
.system-block .input_row{
background-color:#efefef;
margin-bottom:2px;
}
.system-block .input_row label
{
color:#149BC8;
line-height:24px;
height:24px;
padding-left:8px;
margin-right:0px;
margin-left:2px;
margin-top:1px;
background-color:#ffffff;
display:block;
color:#666666;

}
.system-block .input_row span
{
display:block;
border-bottom:1px solid #eeeeee;
float:left;
width:80px;
line-height:26px;
height:24px;
overflow:hidden;
padding-left:10px;
padding-right:10px;
}

.connect-icon{
background-image:url({/literal}{$resource_url}{literal}/oauth/images/icon_connecting_bg.png);
background-repeat:no-repeat;
background-position:25px 50px;
width:100px;
}
{/literal}
</style>
<div class="register-block oauth-connect" >
	
	<table><tr><td>
		{if $form.icon !='' }
		<div class="form_icon"><img  src="{$form.icon}" border="0" /></div>
		{/if}
	
		<div style="float:left; width:400px;">
			{if $form.title}
			<h2>
			{$form.title}
			</h2>
			{/if} 
			{if $form.description}
			<p class="input_row" style="line-height:20px;padding-bottom:5px;">		
			<span>{$form.description}</span>
			</p>
			{else}
			<div style="height:15px;"></div>
			{/if}
		</div>
	</td></tr></table>
	
	<div style="height:10px;"></div>
	{if $dataPanel.fld_action.label != '' }
		<p class="input_row" style="height:30px;padding-left:5px; margin-bottom:10px;border-bottom:1px solid #eeeeee;">
			<label style="width:60px;">{$dataPanel.fld_action.label}</label>
			<span>{$dataPanel.fld_action.element}</span>
		</p>
	{else}
		<div style="height:20px;"></div>
	{/if}
		<table >
		<tr>
			<td  >
	{if $dataPanel.fld_password_repeat.label eq '' }
			<div style="padding-left:70px">
				<div class="system_name" style="padding-bottom:15px;">
					<img src="{$app_url}/images/cubi_logo_large.png" height="65" style="float:left;" />
					<h2>{$smarty.const.DEFAULT_SYSTEM_NAME}</h2>
				</div>
			</div>	
	
	{/if}
	{foreach item=item key=itemName from=$dataPanel}
	{if $item.type eq 'CKEditor' 
		 or $item.type eq 'FormElement' 
		 or $item.type eq 'RichText' 
		 or $item.type eq 'Textarea'  
		 or $item.type eq 'RawData'
		 or $item.type eq 'HTMLPreview'
		 or $item.type eq 'LabelImage'
		 or $item.type eq 'IDCardReader'
		 or $itemName eq 'fld_action'
		 }
	{else}
		<p class="input_row" style="height:40px;">
			<label style="width:60px;">{$item.label}</label>
			<span>{$item.element}</span>				
		</p>
	{/if}
	{/foreach}
			</td>
			<td class="connect-icon"></td>
			<td class="system-block" >
				<div style="height:60px;padding-top:5px;">
				<img src="{$resource_url}/oauth/images/oauth_logo_{$dataPanel.fld_oauth_data.element.type}.png"  />
				</div>
				<div style="padding-top:10px;">
				<p class="input_row" >
					<label style="width:60px; ">{$dataPanel.fld_oauth_user.label}</label>
					<span>{$dataPanel.fld_oauth_user.element}</span>					
				</p>
				<p class="input_row" >
					<label style="width:60px; ">{$dataPanel.fld_oauth_location.label}</label>
					<span>{$dataPanel.fld_oauth_location.element}</span>					
				</p>	
				</div>		
			</td>
		</tr>
		</table>
		
			
		<p class="input_row" style="height:35px">
			<label style="width:60px; text-align:right"></label>
			{foreach item=elem from=$actionPanel}
				{$elem.element}
			{/foreach}
		</p>
		<div style="padding-left:25px; padding-bottom:15px;">
	{if $errors}
	    <div id='errorsDiv' class='innerError errorBox' style="background-color:#ffffff">
	    {foreach item=errMsg from=$errors}
	        <div>{$errMsg}</div>
	    {/foreach}
	    {literal}<script>try{setTimeout("$('errorsDiv').fade( {from: 1, to: 0});",3000);}catch(e){}</script>{/literal}
	    </div>
	{/if}
		</div>
		
</div>
{literal}<script>try{_gaq.push(['_trackEvent', "Registration","SocialConnecting"]);}catch(e){};</script>{/literal}
</form>