<form id="{$form.name}" name="{$form.name}">
<h2>{$form.title}</h2>
<div>
    {if $dataPanel.username.label}
    <div data-role="fieldcontain" style="padding: 5px 0">
        <label>{$dataPanel.username.label}</label>
        {$dataPanel.username.element}			
    </div>
    
    <div data-role="fieldcontain" style="padding: 5px 0">
        <label>{$dataPanel.password.label}</label>
        {$dataPanel.password.element}		
    </div>
    {/if}
	
    <div style="height:10px;"></div>
    {if $actionPanel}
    <div class="" style="margin:0 -10px; padding-left: 5px">
        {foreach item=elem from=$actionPanel}
            {$elem.element}
        {/foreach}
    </div>
    {/if}
    
	{if $notices}
	    <div >
	    {foreach item=noticeMsg from=$notices}
	        <div>{$noticeMsg}</div>
	    {/foreach}
	    </div>	   
	{/if}
	
    <ul data-role="listview" data-inset="true">	
        <li>{$dataPanel.register_new.element}</li>
        <li>{$dataPanel.forget_pass.element}</li>
    </ul>
</div>
</form>


