<form id="{$form.name}" name="{$form.name}">
<div style="padding-left:30px;padding-top:10px;">
{literal}
<style>
.element_set_panel ul
{
padding:0px;
list-style:none;
}
.element_set_panel ul li
{
padding-left:10px;
}
</style>
{/literal}
<!-- wizard progress bar START -->
<div class="wizard_progress_bar">
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="progress_side_start"></td>
{foreach name=steps item=view_form key=elems_name from=$form.forms}
	{assign var=current_step value=$smarty.foreach.steps.index+1}  
	{if $current_step lt $form.step}
	<td class="progress_bar progress_bar_past"><span>{$current_step}</span></td>
	{elseif $current_step eq $form.step}
	<td class="progress_bar progress_bar_current"><span>{$current_step}</span></td>
	{else}
	<td class="progress_bar progress_bar_future"><span>{$current_step}</span></td>
	{/if}
{/foreach}
<td class="progress_side_end"></td>
</tr>
<tr>
<td></td>
{foreach name=steps item=view_form key=elems_name from=$form.forms}
	{assign var=current_step value=$smarty.foreach.steps.index+1}  
	{if $current_step lt $form.step}
	<td class="past_step"><span>{$view_form->m_Text}</span></td>
	{elseif $current_step eq $form.step}
	<td class="current_step"><span>{$view_form->m_Text}</span></td>
	{else}
	<td class="future_step"><span>{$view_form->m_Text}</span></td>
	{/if}
{/foreach}
<td></td>
</tr></table>
</div>
<!-- wizard progress bar END -->
	
<div class="upline" style="padding-top:15px;">	
	<table><tr><td>
		{if $form.icon !='' }
		<div class="form_icon" style="padding-top:8px;"><img  src="{$form.icon}" border="0" /></div>
		{/if}
	
		<div style="float:left; width:500px;">
			{if $form.title}
			<h2>
			{$form.title}
			</h2>
			{/if} 
			{if $form.description}
			<p class="input_row" style="line-height:20px;padding-bottom:5px;">		
			<span>{$form.description}</span>
			</p>
			{else}
			<div style="height:15px;"></div>
			{/if}
		</div>
	</td></tr></table>
	
	<div class="detail_form_panel_padding" >
		{if count|$form.DataObjFiles  }
		<div class="upline ">		
			<h2 class="element_set_title">{t}Data Object Files{/t}</h2>
			<div class="element_set_panel">
				<ul>
					{foreach item=file from=$form.DataObjFiles}
					    <li>{$file}</li>
					{/foreach}
				</ul>
			</div>
		</div>
		{/if}
	
		{if count|$form.FormObjFiles  }
		<div class="upline ">		
			<h2 class="element_set_title">{t}Form Object Files{/t}</h2>
			<div class="element_set_panel">
				<ul>
					{foreach item=file from=$form.FormObjFiles}
					    <li>{$file}</li>
					{/foreach}
				</ul>
			</div>
		</div>
		{/if}
	
		{if count|$form.ViewObjFiles  }
		<div class="upline ">		
			<h2 class="element_set_title">{t}View Object Files{/t}</h2>
			<div class="element_set_panel">
				<ul>
					{foreach item=file from=$form.ViewObjFiles}
					    <li>{$file}</li>
					{/foreach}						
				</ul>
			</div>
		</div>
		{/if}

		{if count|$form.TemplateFiles  }
		<div class="upline ">		
			<h2 class="element_set_title">{t}Template Files{/t}</h2>
			<div class="element_set_panel">
				<ul>
					{foreach item=file from=$form.TemplateFiles}
					    <li>{$file}</li>
					{/foreach}	
				</ul>
			</div>
		</div>
		{/if}
		
		{if count|$form.MessageFiles  }
		<div class="upline ">		
			<h2 class="element_set_title">{t}Message Files{/t}</h2>
			<div class="element_set_panel">
				<ul>
					{foreach item=file from=$form.MessageFiles}
					    <li>{$file}</li>
					{/foreach}		
				</ul>
			</div>
		</div>
		{/if}
		
		{if $form.ModXMLFile }
		<div class="upline">		
			<h2 class="element_set_title">{t}Mod XML File{/t}</h2>
			<div class="element_set_panel">
				<ul>
					<li>{$form.ModXMLFile}</li>
				</ul>
			</div>
		</div>	
		{/if}
		
		
		<div class="underline"></div>
	
		<div style="height:10px;"></div>
	 	{if $actionPanel|@count > 0}
		<p class="input_row">
			
			{foreach item=elem from=$actionPanel}
				{$elem.element}
			{/foreach}
		</p>
		{/if}
</div>
		
		{if $wizardPanel  }	
			<div class="" style="height:30px;padding-top:10px;">	
					{foreach item=elem from=$wizardPanel}
					    	{$elem.element}
					{/foreach}
			</div>	
		{/if}			

	{if $errors}
	    <div id='errorsDiv' class='innerError errorBox'>
	    {foreach item=errMsg from=$errors}
	        <div>{$errMsg}</div>
	    {/foreach}
	    {literal}<script>try{setTimeout("$('errorsDiv').fade( {from: 1, to: 0});",3000);}catch(e){}</script>{/literal}
	    </div>
	{/if}
	
	{if $notices}
	    <div id='noticeDiv' class='noticeBox' >
	    {foreach item=noticeMsg from=$notices}
	        <div>{$noticeMsg}</div>
	    {/foreach}
	    </div>
	    {literal}<script>try{setTimeout("$('noticeDiv').fade( {from: 1, to: 0});",3000);}catch(e){};</script>{/literal}
	{/if}

	</div>
	
		<div style="height:15px;">
		<div id='{$form.name}.load_disp' style="display:none;">
		<img  src="{$image_url}/form_ajax_loader.gif"/>
		</div>
		</div>
	
</div>

</form>