<form id="{$form.name}" name="{$form.name}">
<style>
{literal}
.button_next_highlight {
    background-image: url("{/literal}{$resource_url}{literal}/appbuilder/images/btn_next_bg.png");
    background-position: 0px top;
    background-repeat: no-repeat;
    color: #efefef;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 3px;
    overflow: hidden;
    text-align: center;
    text-indent:16px;
    text-decoration: none;
    width: 72px;
}
.button_next_highlight:hover {
    background-position: 0px -20px;
    color: #ffffff;
}
.button_next_highlight:active {
    background-position: 0px bottom;
    color: #ffffff;
}
.appbuilder_bg{
	background-image: url("{/literal}{$resource_url}{literal}/appbuilder/images/appbuilder_bg.png");
    background-position: 1px bottom;
    background-repeat: no-repeat;
}
{/literal}
</style>
<div style="padding-left:50px;padding-right:110px;padding-top:50px;padding-bottom:120px;height:310px;" class="appbuilder_bg">
	<table><tr><td>
		
	
		<div style="float:left; width:360px;">
		<table>
			<tr>
				<td style="padding-right:10px;">
					<div>
					<img src="{$resource_url}/appbuilder/images/appbuilder_logo.png" border="0" />
					</div>
				</td>
				<td style="background-image: url('{$resource_url}/appbuilder/images/v_line.png'); background-repeat: no-repeat;background-position: left bottom;padding-left:10px;">
					<p class="input_row" style="padding-top:60px;line-height:24px;padding-bottom:20px; padding-left:10px; width:320px;height:auto;">		
					<span>{$form.description}</span>
					</p> 
					
					<div style="padding-left:10px;">
					{$actionPanel.btn_next.element}
					</div>
				</td>
			</tr>
		</table>
		</div>
	</td></tr></table>
	
		<div style="height:10px;"></div>
	{if $errors}
	    <div id='errorsDiv' class='innerError errorBox'>
	    {foreach item=errMsg from=$errors}
	        <div>{$errMsg}</div>
	    {/foreach}
	    {literal}<script>try{setTimeout("$('errorsDiv').fade( {from: 1, to: 0});",3000);}catch(e){}</script>{/literal}
	    </div>
	{/if}
	
	{if $notices}
	    <div id='noticeDiv' class='noticeBox' >
	    {foreach item=noticeMsg from=$notices}
	        <div>{$noticeMsg}</div>
	    {/foreach}
	    </div>
	    {literal}<script>try{setTimeout("$('noticeDiv').fade( {from: 1, to: 0});",3000);}catch(e){};</script>{/literal}
	{/if}

	
		<div style="height:15px;">
		<div id='{$form.name}.load_disp' style="display:none;">
		<img  src="{$image_url}/form_ajax_loader.gif"/>
		</div>
		</div>
	
</div>

</form>