<form id='{$form.name}' name='{$form.name}'>
<style>
{literal}
#mod_list .form_table td span
{
height:auto;
width:auto;
}
#mod_list .form_table td a.button_gray_m{
color:#666666;
} 

{/literal} 
</style>
<div style="padding-left:25px;padding-right:40px;">

	<div>
{include file="system_appbuilder_btn.tpl.html"}
	<table><tr><td>
		
		<h2>
		{$form.moduleName} {$form.title}
		</h2> 
		
	</td></tr></table>
	</div>

<div class="upline"></div>

<div id="mod_list" class="from_table_container" style="padding-left:5px;padding-top:10px;padding-bottom:6px;">
<!-- table start -->
<table border="0" cellpadding="0" cellspacing="0" class="" id="{$form.name}_data_table">

	<tr>
		<td style="background-image:none; padding-right:5px;" class="module_list" >
			<div style="background-position:left top;">
	        	<span class="name">{$dataPanel.fld_name.element}</span>
	        	<span class="version">{t}Version{/t}: {$dataPanel.fld_version.element}</span>
			</div>
		</td>
		<td style="padding-left:10px;padding-top:3px;" valign="top">
		<span class="author" style="display:block;color:#149BC8;">{$dataPanel.fld_description.label}</span>
		{if $dataPanel.fld_description.element}
			<span class="author" style="display:block;padding-left:2px;">{$dataPanel.fld_description.element}</span>
		{else}
			<span class="author" style="display:block;padding-left:2px;color:#999999;font-style:italic;">-- N/A --</span>
		{/if}	
		
		<span class="author" style="display:block;color:#149BC8;">{$dataPanel.fld_author.label}</span>
		{if $dataPanel.fld_author.element}
			<span class="author" style="display:block;padding-left:2px;">{$dataPanel.fld_author.element}</span>
		{else}
			<span class="author" style="display:block;padding-left:2px;color:#999999;font-style:italic;">-- N/A --</span>
		{/if}
		<span class="author" style="display:block;padding-top:4px;">{$dataPanel.fld_edit.element}</span>
		</td>
	</tr>
     
  
							
</table>
</div>
<!-- status switch  -->
<script>
{if $form.status eq 'Enabled'}
{elseif $form.status eq 'Disabled'}
$('{$form.name}_data_table').fade({literal}{ duration: 0.5, from: 1, to: 0.35 }{/literal});
{/if}
</script>
<span id='{$form.name}_selected_id' style="display:none">{$default_selected_id}</span>
<!-- table end -->	


</div>

</form>