<form id='{$form.name}' name='{$form.name}'>
{literal}
<style>
.step_title
{
	font-size:12px;
	padding-top:8px;
	padding-bottom:0px;
	padding-left:0px;
}
.step_summary
{
	padding-left:15px;
	padding-top:0px;
	padding-bottom:5px;
}	
.step_summary ul
{
	padding-left:2px;
	list-style:none;
}	
.step_summary ul li
{
	border-bottom:1px solid #efefef;
	width:170px;
}
.step_summary span
{
	line-height:26px;
	padding-left:2px;
	list-style:none;
	display:block;
	float:left;
}	
.step_summary img
{
	padding-right:5px;
	padding-top:5px;
	display:block;
	float:left;
}
.step_summary span.gray
{
	color:#cccccc;
	font-style: italic;
}	
</style>
{/literal}
	<table></table>
	<div class="title">
		<h2 style="width:120px;">{$form.title}</h2>
	</div>
	<div class="step_summary" >
		<div>
			<h3 class="step_title">{t}Database Connection{/t}</h3>
			<div style="height:26px;border-bottom:1px solid #efefef;width:170px;">
			{if $form.dbConn}			
			<img src="{$resource_url}/system/images/icon_database_small.png" border="0"><span>{$form.dbConn}</span>			
			{else}
			<span class="gray">{t}-- Not Set --{/t}</span>
			{/if}
			</div>		
		</div>
		<div>
			<h3 class="step_title">{t}Selected Data Table{/t}</h3>
			<div style="height:26px;border-bottom:1px solid #efefef;width:170px;">
			{if $form.tableName}
			<img src="{$resource_url}/appbuilder/images/icon_data_table_small.png" border="0"><span>{$form.tableName}</span>	
			{else}
			<span class="gray">{t}-- Not Set --{/t}</span>
			{/if}	
			</div>	
		</div>
		<div>
			<h3 class="step_title">{t}Selected Data Fields{/t}</h3>
			{if $form.tableFields}
			<ul>
			{assign var=row_counter value=0} 
			{foreach item=field from=$form.tableFields}	
				{if $row_counter lt 6}
				<li style="height:26px;display:block;"><img src="{$resource_url}/appbuilder/images/icon_data_field_small.png" border="0"><span>{$field}</span></li>
				{/if}
				{assign var=row_counter value=$row_counter+1}				
			{/foreach}			
			{if $form.tableFields|@count gt 6}
				<li style="height:26px;display:block;"><span class="gray" style="color:#AAAAAA;">{t}More Fields ...{/t}</span></li>
			{/if}
			</ul>
			{else}
			<div style="height:26px;">
				<span class="gray">{t}-- Not Set --{/t}</span>
			</div>
			{/if}				
		</div>
	</div>
</form>