<form id="{$form.name}" name="{$form.name}">
<div style="padding-left:25px; ">

	<div>
		{if $form.icon !='' }
	<div class="form_icon"><img  src="{$image_url}/{$form.icon}" border="0" /></div>
	{/if}
		<div ><h2>{$form.title}</h2></div>
	</div>
		{if $form.description}
		<p class="input_row" style="line-height:20px;padding-bottom:20px;height:20px;">		
		<span>{$form.description}</span>
		</p>
		{else}
		<div style="height:15px;"></div>
		{/if}
		
		<div class="underline" style="height:auto;">
			<h2>Apppointment</h2>
				{assign var=item value=$dataPanel.fld_subject}					
				<table class="input_row">								
				<tr>
					<td >	
						<label style="text-align:left; width:60px;">{$item.label}</label>
					</td>
					<td>				
						<span class="label_text">{$item.element}</span>					
					</td>
				</tr>
				</table>
				
				{assign var=item value=$dataPanel.fld_location}					
				<table class="input_row">								
				<tr>
					<td >	
						<label style="text-align:left; width:60px;">{$item.label}</label>
					</td>
					<td>				
						<span class="label_text">{$item.element}</span>					
					</td>
				</tr>
				</table>
				
				{assign var=item value=$dataPanel.fld_label}					
				<table class="input_row">								
				<tr>
					<td >	
						<label style="text-align:left; width:60px;">{$item.label}</label>
					</td>
					<td>				
						<span class="label_text">{$item.element}</span>					
					</td>
				</tr>
				</table>
				
				{assign var=item value=$dataPanel.fld_start_time}					
				<table class="input_row">								
				<tr>
					<td >	
						<label style="text-align:left; width:60px;">{$item.label}</label>
					</td>
					<td>				
						<span class="label_text">{$item.element}</span>					
					</td>
				</tr>
				</table>
				
				{assign var=item value=$dataPanel.fld_end_time}					
				<table class="input_row">								
				<tr>
					<td >	
						<label style="text-align:left; width:60px;">{$item.label}</label>
					</td>
					<td>				
						<span class="label_text">{$item.element}</span>					
					</td>
				</tr>
				</table>
				
				{assign var=item value=$dataPanel.fld_contact}					
				<table class="input_row">								
				<tr>
					<td >	
						<label style="text-align:left; width:60px;">{$item.label}</label>
					</td>
					<td>				
						<span class="label_text">{$item.element}</span>					
					</td>
				</tr>
				</table>
				
				{assign var=item value=$dataPanel.fld_type_id}					
				<table class="input_row">								
				<tr>
					<td >	
						<label style="text-align:left; width:60px;">{$item.label}</label>
					</td>
					<td>				
						<span class="label_text">{$item.element}</span>					
					</td>
				</tr>
				</table>
				
				{assign var=item value=$dataPanel.fld_private}					
				<table class="input_row">								
				<tr>
					<td >	
						<label style="text-align:left; width:60px;">{$item.label}</label>
					</td>
					<td>				
						<span class="label_text">{$item.element}</span>					
					</td>
				</tr>
				</table>
				
				
				
		</div>
		
		<div class="underline" style="height:auto;">
			<h2>Recurrence</h2>
				{assign var=item value=$dataPanel.fld_recurrence}					
				<table class="input_row">								
				<tr>
					<td >	
						<label style="text-align:left; width:60px;">{$item.label}</label>
					</td>
					
					<td>				
						<span class="label_text">{$item.element}</span>					
					</td>
				</tr>
				</table>
				
				{assign var=item value=$dataPanel.fld_num1}					
				<table class="input_row">								
				<tr>
					<td >	
						<label style="text-align:left; width:60px;">{$item.label}</label>
					</td>
					<td>				
						<span class="label_text">{$item.element}</span>					
					</td>
				</tr>
				</table>
				
				{assign var=item value=$dataPanel.fld_num2}					
				<table class="input_row">								
				<tr>
					<td >	
						<label style="text-align:left; width:60px;">{$item.label}</label>
					</td>
					<td>				
						<span class="label_text">{$item.element}</span>					
					</td>
				</tr>
				</table>
				
				{assign var=item value=$dataPanel.fld_frequency}					
				<table class="input_row">								
				<tr>
					<td >	
						<label style="text-align:left; width:60px;">{$item.label}</label>
					</td>
					<td>				
						<span class="label_text">{$item.element}</span>					
					</td>
				</tr>
				</table>
				
				{assign var=item value=$dataPanel.fld_cycle}					
				<table class="input_row">								
				<tr>
					<td >	
						<label style="text-align:left; width:60px;">{$item.label}</label>
					</td>
					<td>				
						<span class="label_text">{$item.element}</span>					
					</td>
				</tr>
				</table>
				
				{assign var=item value=$dataPanel.fld_sortorder}					
				<table class="input_row">								
				<tr>
					<td >	
						<label style="text-align:left; width:60px;">{$item.label}</label>
					</td>
					<td>				
						<span class="label_text">{$item.element}</span>					
					</td>
				</tr>
				</table>
				
		</div>
	
		
		<div style="height:10px;"></div>
		<p class="input_row">
			
			{foreach item=elem from=$actionPanel}
				{$elem.element}
			{/foreach}
		</p>
	</div>
	
		<div style="height:15px;">
		<div id='{$form.name}.load_disp' style="display:none;">
		<img  src="{$image_url}/form_ajax_loader.gif"/>
		</div>
		</div>
	
</div>

</form>