<div class="content_block">
	{if $form.totalRecords >0 }
<div style="padding-bottom:9px">
	<div class="header">
		<img src="{$theme_url}/images/spacer.gif" id="announcement_type_indicator" />
	</div>
	<div class="content">	
		<div>	
		<form id='{$form.name}' name='{$form.name}'>
			<table></table>
			<div class="announcement_widget widget_control">
				<div class="title" style="overflow:hidden;">
					<div style="float:left;width:35px;">
						<a class="icon" href="{$app_index}/collab/announcement_view"></a>
					</div>
					<div style="float:left;width:114px;height:30px;">
					<h2 style="width:110px;">{$form.title}</h2>
					<p>{$form.description}</p>
					</div>
				</div>
				<div class="" style="float:left;height:20px;">			 
				     {assign var=row value=$dataPanel.data.0}
				     <div>{$row.fld_title}</div>
				     <div style="width: 500px; height: 20px; display: block; overflow: hidden;">{$row.fld_description}</div>
				     <script>$('announcement_type_indicator').style.backgroundColor='#{$row.fld_color}';</script>
				     <p></p>			                      			 	 
				</div>
				<div class="actions">
					{foreach item=elem from=$actionPanel}
				    	{$elem.element}
					{/foreach}
				</div>
			</div>
		</form>
		</div>
	</div>
	<div class="footer"></div>
</div>
	{else}
	<form id='{$form.name}' name='{$form.name}'>
			<table></table>
	</form>			
	{/if}												
</div>