<div id='{$form.name}' name='{$form.name}'>
<style>
{literal}
.location_line{
border-bottom:1px solid #d6d6d6;padding:10px;width:620px;overflow:hidden;
}
.location_item{
display:block;
float:left;
/*width:100px;*/
height:100px;
line-height:100px;
overflow:hidden;
position:relative;
z-index:1;	
}
.location_item img{
float:left;
}
.location_title{
font-size:14px;
line-height:20px;
}
.location_attr{
background-color:#f8f8f8;
display:block;
padding:5px 10px 10px 10px;
}
{/literal}
</style>
<div style="padding-left:0px;padding-right:0px;">
<table></table>
{if $dataPanel.data|count >0}
<div class="from_table_container" style="width:642px;">
<!-- table start -->

{foreach item=row from=$dataPanel.data}
<div class="location_line">
	<div class="location_item">
		<a href="https://maps.google.com/maps?q={$row.fld_address}&sll={$row.fld_latitude},{$row.fld_longtitude}&z=15" target="_blank">
		<img title="{$row.fld_title}" src="http://maps.google.com/maps/api/staticmap?&size=250x130&zoom=14&sensor=false&markers=color:blue%7C{$row.fld_latitude},{$row.fld_longtitude}"  border="0" />
		</a>
	</div>
	<div style="float:left; padding-left:20px;">
		<div style="padding:0px;">
			<a href="https://maps.google.com/maps?q={$row.fld_address}&sll={$row.fld_latitude},{$row.fld_longtitude}&z=15" target="_blank" class="picture_title">{$row.fld_title}</a>
		</div>
		<p>
		<span>{$row.fld_address}</span><br/>
		<span>{$row.fld_description}</span><br/>
		<span>{t}Updated on: {/t} {$row.fld_update_time}</span><br/>
		</p>
		
		<table border="0" cellspacing="0"><tr>
		<td style="padding-right:10px;padding-left:0px;">{$row.fld_edit}</td>
		<td>{$row.fld_delete}</td>
		</tr></table>
		
	</div>
</div>
<div style="clear:both"></div>
{/foreach}

{if $actionPanel or $searchPanel }	
	<div class="" style="width:640px;">	
		<div class="action_panel" style="width:350px;padding-left:0px;">
		{foreach item=elem from=$actionPanel}
			{$elem.element}
		{/foreach}
		</div>
		<div class="search_panel" style="width:250px;">
		{foreach item=elem from=$searchPanel}
			{if $elem.label} {$elem.label} {/if} {$elem.element}
		{/foreach}
		</div>
	</div>
{/if}
{if $navPanel}
<div class="form_footer_panel" style="width:640px;">
		<div class="ajax_indicator" style="width:130px;">
			<div id='{$form.name}.load_disp' style="display:none" >
				<img src="{$image_url}/form_ajax_loader.gif"/>
			</div>
		</div>
		<div class="navi_panel"  style="width:460px;">
   {foreach item=elem from=$navPanel}
   		{if $elem.label} <label style="width:68px;">{$elem.label}</label>{/if}
    	{$elem.element}
   {/foreach}				
		</div>		
	</div>
{/if}		
</div>
{else}
<div style="background-color:#f8f8f8;padding:10px;">
{t}-- No related location records --{/t}
</div>
{if $actionPanel or $searchPanel }	
	<div class="" style="width:640px;">	
		<div class="action_panel" style="width:350px;padding-left:0px;">
		{foreach item=elem from=$actionPanel}
			{$elem.element}
		{/foreach}
		</div>
		<div class="search_panel" style="width:250px;">
		{foreach item=elem from=$searchPanel}
			{if $elem.label} {$elem.label} {/if} {$elem.element}
		{/foreach}
		</div>
	</div>
{/if}
{/if}
</div>