Options FollowSymLinks

<IfModule mod_php5.c>
	php_flag magic_quotes_gpc Off
</IfModule>

<IfModule mod_php4.c>
	php_flag magic_quotes_gpc Off
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase   /cubi/	
	RewriteCond  %{SCRIPT_FILENAME}  !-f
	RewriteCond  %{SCRIPT_FILENAME}  !-d
	RewriteCond  %{REQUEST_URI}  !\.
	RewriteRule ^(.*)$ index.php?$1
</IfModule>

<FilesMatch "application.xml$">
    Order deny,allow
    Deny from all
</FilesMatch>

<FilesMatch ".inc$">
    Order deny,allow
    Deny from all
</FilesMatch>


