.button_gray_add{
	width:54px;
	height:20px;
	color:#666666;
	
        background-image:url(button_gray.gif);
	background-position:-44px top;
	
        background-repeat:no-repeat;
	overflow:hidden;
	display:block;
	float:left;	
	text-align:center;
        
	text-indent:0;
        
	text-decoration:none;
	line-height:20px;
	margin-right:3px;
}
.button_gray_add:hover{
	background-position:-44px -20px;
	color:#454545;
}
.button_gray_add:active{
	background-position:-44px bottom;
	color:#666666;
}
