<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{$title}</title>
<meta name="description" content="{$description}"/>
<meta name="keywords" content="{$keywords}"/>
<link rel="stylesheet" href="{$css_url}/general.css" type="text/css" />
<link rel="stylesheet" href="{$css_url}/system_backend.css" type="text/css" />
{$style_sheets}
{$scripts}
<script type='text/javascript' src='{$js_url}/shortcut.js'></script>
</head>

<body>

<!-- Start of application content page 
     this page has menu button to #app_menu_page and home button to #app_tab_page
-->
<div data-role="page" id="app_content_page">
    <div data-role="header">
        <h1>{$title}</h1>
    </div><!-- /header -->

    <div data-role="content">
    {foreach key=formname item=form from=$forms}							    
        <div>
        {if !preg_match("/LeftWidget$/si",$formname)}
            {$form}
        {/if}
        </div>
    {/foreach}
    </div>

    <div id="footer">
	{include file='system_footer_info.tpl.html'}
	</div>
</div><!-- /page -->

</body>
</html>