<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{php}if(preg_match('/iPad/si',$_SERVER['HTTP_USER_AGENT']) || preg_match('/iPhone/si',$_SERVER['HTTP_USER_AGENT'])){ {/php}
{include file='ios_webapp.tpl.html'}
{php}}{/php}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<meta name="description" content="{$description}"/>
<meta name="keywords" content="{$keywords}"/>
{$style_sheets}
{$scripts}
{php}if(preg_match('/iPad/si',$_SERVER['HTTP_USER_AGENT']) || preg_match('/iPhone/si',$_SERVER['HTTP_USER_AGENT'])){ {/php}
<link rel="stylesheet" href="{$css_url}/ipad.css" type="text/css" />
{php}}{/php}
{php}if(preg_match('/Android/si',$_SERVER['HTTP_USER_AGENT'])){ {/php}
<link rel="stylesheet" href="{$css_url}/andriod.css" type="text/css" />
{php}}{/php}
<link rel="stylesheet" href="{$app_url}/languages/{$lang}/localization.css" type="text/css" />
</head>

<body>
<div align="center" id="body_warp">
	<div id="header_warp">
	{include file='system_header.tpl.html'}
	</div>
	<!--main warp-->
	<div id="main_warp">	
		<!--main-->
		<div id="main" >
			{include file='system_loader.tpl.html'}
			<table id="main_content" border="0" cellpadding="0" cellspacing="10">
				<tr><td><img src="{$image_url}/spacer.gif" style="height:0px;" /></td></tr>
				<tr>
					<td valign="top" id="left_panel">
						{include file='system_left_panel.tpl.html'}
					</td>
					<td valign="top" id="right_panel">
						<!-- right block start -->
						{include file='system_right_panel.tpl.html'}
						<!-- right block end -->
					</td>
				</tr>
			  </table>		  
			</div>
			<!--main-->
		
		</div>		
		<!--main wrap end-->
		<!--footer-->
		<div  id="footer_warp">			
		{include file='system_footer.tpl.html'}
		</div>
		<!-- footer end -->
	
	</div>
</div>

{literal}
<script>
$('main_loader_bg').style.height = $('main_content').offsetHeight+'px';
</script>
{/literal}
{php}if(preg_match('/iPad/si',$_SERVER['HTTP_USER_AGENT']) || preg_match('/iPhone/si',$_SERVER['HTTP_USER_AGENT'])){ {/php}
<script src="{$js_url}/ios_webapp.js"></script>
{php}}{/php}
</body>
</html>