<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{php}if(preg_match('/iPad/si',$_SERVER['HTTP_USER_AGENT']) || preg_match('/iPhone/si',$_SERVER['HTTP_USER_AGENT'])){ {/php}
{include file='ios_webapp.tpl.html'}
{php}}{/php}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<meta name="description" content="{$description}"/>
<meta name="keywords" content="{$keywords}"/>
{$style_sheets}
{$scripts}
{php}if(preg_match('/iPad/si',$_SERVER['HTTP_USER_AGENT']) || preg_match('/iPhone/si',$_SERVER['HTTP_USER_AGENT'])){ {/php}
<link rel="stylesheet" href="{$css_url}/ipad.css" type="text/css" />
{php}}{/php}
{php}if(preg_match('/Android/si',$_SERVER['HTTP_USER_AGENT'])){ {/php}
<link rel="stylesheet" href="{$css_url}/andriod.css" type="text/css" />
{php}}{/php}
<link rel="stylesheet" href="{$app_url}/languages/{$lang_name}/localization.css" type="text/css" />
</head>

<body>
<div align="center" id="body_warp">
	<div id="header_warp">
	{include file='system_header.tpl.html'}
	</div>
	<!--main warp-->
	<div id="main_warp">	
		<!--main-->
		<div id="main" >
			{include file='system_loader.tpl.html'}
			<table id="main_content" border="0" cellpadding="0" cellspacing="10">
				<tr><td><img src="{$image_url}/spacer.gif" style="height:0px;" /></td></tr>
				<tr>
					<td valign="top" id="left_panel">
					<a id="button_toggle_leftpanel" class="button_hidemenu" onclick="toggleLeftPanel();"></a>
					<div id="main_left_panel">
						{include file='system_left_panel.tpl.html'}
					</div>
					</td>
					<td valign="top" id="right_panel">
						<!-- notification block start -->
						<div id="notification">
						{php}echo Bizsystem::GetObject('notification.widget.NotificationWidgetForm')->render();{/php}
						</div>
						<!-- notification block start -->					
					
						<!-- right block start -->
						{include file='system_right_panel.tpl.html'}
						<!-- right block end -->
					</td>
				</tr>
			  </table>		  
			</div>
			<!--main-->
		
		</div>		
		<!--main wrap end-->
		<!--footer-->
		<div  id="footer_warp">			
		{include file='system_footer.tpl.html'}
		</div>
		<!-- footer end -->
	
	</div>
</div>

<script>
{php} if (JSLIB_BASE=='JQUERY') : {/php}
{literal}
function toggleLeftPanel() {
	if ($('#main_left_panel').is(':visible')) { $('#main_left_panel').hide(); $('#button_toggle_leftpanel').attr('class','button_showmenu'); }
	else { $('#main_left_panel').show(); $('#button_toggle_leftpanel').attr('class','button_hidemenu'); }
}
{/literal}
{php} else : {/php}
{literal}
function toggleLeftPanel() {
	if ($('main_left_panel').visible()) { $('main_left_panel').hide(); $('button_toggle_leftpanel').className="button_showmenu"; }
	else { $('main_left_panel').show(); $('button_toggle_leftpanel').className="button_hidemenu"; }
}
$('main_loader_bg').style.height = $('main_content').offsetHeight+'px';
{/literal}
{php} endif; {/php}
</script>

{php}if(preg_match('/iPad/si',$_SERVER['HTTP_USER_AGENT']) || preg_match('/iPhone/si',$_SERVER['HTTP_USER_AGENT'])){ {/php}
<script src="{$js_url}/ios_webapp.js"></script>
{php}}{/php}
</body>
</html>