<form id='{$form.name}' name='{$form.name}'>
	<table></table>
	<div class="document_widget widget_control">
		<div class="title" style="width:165px;float:none;height:34px;">
			<div style="float:left;width:35px;">
				<a class="icon" href="{$app_index}/collab/bookmark_view"></a>
			</div>
			<div style="float:left;width:74px;height:30px;">
				<h2 style="width:110px;">{$form.title}</h2>
				<p style="font-size:11px;">{$form.description}</p>
			</div>
			<div class="actions" style="padding-top:0px;">
				{foreach item=elem from=$actionPanel}
			    	{$elem.element}
				{/foreach}
			</div>
		</div>
		<div style="padding-left:10px; width:167px;height:161px;">
			<div class="widget_table_gray" style="height:161px;overflow:hidden;">
				<ul class="document_list">
				    {assign var=row_counter value=0}            
     				{foreach item=row from=$dataPanel.data}
     				{if $row_counter is odd}
     				<li  style="border-right:6px solid #{$row.fld_color};background-color:#f7f7f7">
     				{else}
					<li  style="border-right:6px solid #{$row.fld_color}">
					{/if}
					<span style="float:left;display:block;height:24px;line-height:26px;padding-top:2px;padding-right:8px;">{$row.fld_share}</span>
					<span style="float:left;display:block;height:26px;line-height:26px;">{$row.fld_title}</span>
					</li>
					{assign var=row_counter value=$row_counter+1}
					{/foreach}
				</ul>
			</div>
		</div>
	</div>
</form>