#appbuilder-banner-wrapper{	
 	height:378px;
    background-image: url("../../appbuilder/image/banner_bg.png");
    background-position: center bottom;
    background-repeat: no-repeat; 	
    width:880px;
    margin-left:auto;
    margin-right:auto;
}
#appbuilder-banner-wrapper a.play-video{
margin-left:148px;
margin-top:85px;
width:320px;
height:240px;
display:block;
float:left;
background-image: url("../../../general/image/widget/play-button-240p_bg.png");
background-position: center 0px;
background-repeat: no-repeat; 
}
#appbuilder-banner-wrapper a.play-video:hover{
background-position: center -240px;
}
#appbuilder-banner-wrapper a.play-video:active{
background-position: center -480px;
}
#appbuilder-banner-wrapper .desc
{
	padding-left:50px;
	padding-top:78px;
	float:left;
}
#appbuilder-banner-wrapper .desc p
{
	padding-top:15px;
	padding-bottom:18px;
}
#appbuilder-banner-wrapper .desc p.buttons
{
	padding-top:25px;	
}
.content .intro-table td .content-block{
padding-bottom:13px;
}
.content .intro-table table.features 
{
padding:0px;
padding-bottom:35px;
background-repeat:no-repeat;
background-position:right bottom;
margin:0px;
}
.content .intro-table table.new-app{
background-image:url("../../appbuilder/image/icon-new-app.png");
}
.content .intro-table table.link-module{
background-image:url("../../appbuilder/image/icon-link-module.png");
}
.content .intro-table table.metadata-editor{
background-image:url("../../appbuilder/image/icon-metadata-editor.png");
}
#video-player .buttons{
	padding-top:10px;
height:30px;
}
#video-player .buttons a{
float:left; margin-right:10px;
}