#cubi-banner-wrapper{	
 	height:340px;
    background-image: url("../../cubi/image/cubi-banner_bg.png");
    background-position: center;
    background-repeat: no-repeat; 	
    min-width:880px;
    margin-left:auto;
    margin-right:auto;
}

#cubi-banner-wrapper .desc
{
	padding-top:65px;padding-left:530px;
}

.cubi-intro .features
{
padding:0px;
margin:0px;
}
.cubi-intro .features td
{
text-align:center;
padding:0px;
padding-bottom:11px;
}
.cubi-intro .features td img
{
border:none;
}
.cubi-intro .features a
{
color:#999999;
display:block;
padding:5px 5px 5px 70px;
width:84px;
background-repeat:no-repeat;
background-position: 2px 2px;
text-align:left;
margin-right:10px;
}
.cubi-intro .features a span{
display:block;
color:#666666;
}
.cubi-intro .features a:hover
{
color:#00AEEF;
background-color:#efefef;
border-radius:8px;
padding:4px 4px 4px 69px;
background-position:1px 1px;
border:1px solid #cccccc;

}


.cubi-intro .features a.rapid{
background-image:url("../../cubi/image/feature-icon-rapid-small.png");	
} 
.cubi-intro .features a.license{
background-image:url("../../cubi/image/feature-icon-license-small.png");	
}
.cubi-intro .features a.beauty{
background-image:url("../../cubi/image/feature-icon-beauty-small.png");	
} 
.cubi-intro .features a.module{
background-image:url("../../cubi/image/feature-icon-module-small.png");	
} 
.cubi-intro .features a.easy{
background-image:url("../../cubi/image/feature-icon-easy-small.png");	
} 
.cubi-intro .features a.clean{
background-image:url("../../cubi/image/feature-icon-clean-small.png");	
} 


#cubi-banner .screenshots
{
padding-left:115px;
padding-top:60px;
margin:0px;

}
#cubi-banner .screenshots td
{
text-align:left;
padding:3px;
padding-top:1px;
padding-bottom:3px;
}
#cubi-banner .screenshots td p{
	padding-top:1px;
	padding-left:12px;
	color:#999999;
line-height:20px;
}
#cubi-banner .screenshots td a{
	padding:0px;
	margin:0px;
	display:block;
	background-color:#ffffff;
}
#cubi-banner .screenshots td a img
{
border:1px solid #cccccc;
border-radius:6px;
background-color:#ffffff;
width:82px;
height:58px;
}
#cubi-banner .screenshots td a:hover img
{
border:1px solid #cccccc;
background-image:url(../../../general/image/widget/zoom-in.png);
background-position: center center;
background-repeat: no-repeat; 
background-color:#dddddd;
}
#cubi-banner .screenshots td a.cubi-banner-more{
padding-left:32px;
display:block;
background-image:url(../../../general/image/widget/small-button-more.png);
background-position: 10px top;
background-repeat: no-repeat; 
}
#cubi-banner .screenshots td a.cubi-banner-more:hover{
background-position: 10px -30px;
}
#cubi-banner .screenshots td a.cubi-banner-more:active{
background-position: 10px -60px;
}
.testimonials p{
padding-top:0px;
padding-bottom:3px;
background-image:url(../../../general/image/widget/icon-quote.png);
background-position: 0px 5px;
background-repeat: no-repeat;
text-indent:30px;
width:310px;
}
.testimonials .sign{
text-align:right;
}
.testimonials .sign img{
padding-bottom:5px;
}