#framework-banner-wrapper{	
 	height:378px;
    background-image: url("../../framework/image/banner_bg.png");
    background-position: center bottom;
    background-repeat: no-repeat; 	
    width:880px;
    margin-left:auto;
    margin-right:auto;
}
#framework-banner-wrapper .desc
{
	padding-left:550px;
	padding-top:78px;
	float:left;
}
#framework-banner-wrapper .desc p
{
	padding-top:15px;
	padding-bottom:5px;
}

#framework-banner-wrapper .features
{
	margin-left:auto;
	margin-right:auto;
	padding-top:30px;
	padding-left:30px;
}
#framework-banner-wrapper .features td
{
padding-left:8px;
padding-right:8px;
text-align:center;
}
#framework-banner-wrapper .features td a
{
color:#666666;
}
#framework-banner-wrapper .features td a:hover
{
color:#333333;
}
.content table.features{
	padding-right:0px;
	padding-bottom:0px;	
}
.content table.features img{
	padding-right:20px;
}
