.qtip-button
{
	width:16px;
	height:16px;
	background-image:url(../images/icon_close.gif);
	background-position:0px 0px;
}
.qtip-button:hover{
	background-position:-16px 0px;
}
.qtip-button:active{
	background-position:-32px 0px;
}
.qtip-content .detail_form td
{
	vertical-align: top;
}
.qtip-content .detail_form td.title
{
	padding-bottom:2px;
}
.qtip-content .detail_form td.content
{
	border-bottom:1px solid #A27D35;padding-bottom:5px;padding-top:5px;width:200px;
}
.qtip-content .detail_form td.content .label_text{
	color: #666666;
}
.qtip-content .detail_form td .label_icon{
	padding-right:3px;
}
.qtip-content .detail_form  label
{
text-align:right;width:60px;height:auto;line-height:18px;padding-bottom:5px;padding-top:5px;
}
.autocomplete{z-index:9000;}