<div id='{$form.name}' name='{$form.name}'>
<style>
{literal}
.attach_line{
border-bottom:1px solid #d6d6d6;
padding:10px;
width:620px;
overflow:hidden;
}
.attach_title{
font-size:14px;
line-height:20px;
height:30px;
padding-left:30px;
display:block;{/literal}
background-image: url('{php} echo RESOURCE_URL.'/attachment/images/icon_attachment_private.png';{/php}');
background-repeat:no-repeat;
{literal}}
{/literal}
</style>
<div style="padding-left:0px;padding-right:0px;">
<table></table>
{if $dataPanel.data|count >0}
<div class="from_table_container" style="width:642px;">
<!-- table start -->


{foreach item=row from=$dataPanel.data}
<div class='attach_line'>
	<div style="padding:0px;">
		<span class="attach_title"><a href="{$row.fld_url}" target="_blank">{$row.fld_title}</a></span>
	</div>
	<p>
	{if $row.fld_description}<span>{$row.fld_description}</span><br/>{/if}
	<span>{$row.fld_filename} ( {$row.fld_filesize} )</span>
	<span>{t}Uploaded on: {/t} {$row.fld_create_time}</span><br/>
	</p>
	<p>
	<table border="0"><tr>
	<td>{$row.fld_download_file}</td>
	<td>{$row.fld_edit}</td>
	<td>{$row.fld_delete}</td>
	</tr></table>
	</p>
</div>
{/foreach}

{if $actionPanel or $searchPanel }	
	<div class="" style="width:640px;">	
		<div class="action_panel" style="width:350px;">
		{foreach item=elem from=$actionPanel}
			{$elem.element}
		{/foreach}
		</div>
		<div class="search_panel" style="width:250px;">
		{foreach item=elem from=$searchPanel}
			{if $elem.label} {$elem.label} {/if} {$elem.element}
		{/foreach}
		</div>
	</div>
{/if}
{if $navPanel}
<div class="form_footer_panel" style="width:640px;">
		<div class="ajax_indicator" style="width:130px;">
			<div id='{$form.name}.load_disp' style="display:none" >
				<img src="{$image_url}/form_ajax_loader.gif"/>
			</div>
		</div>
		<div class="navi_panel"  style="width:460px;">
   {foreach item=elem from=$navPanel}
   		{if $elem.label} <label style="width:68px;">{$elem.label}</label>{/if}
    	{$elem.element}
   {/foreach}				
		</div>		
	</div>
{/if}		
</div>
{else}
<div style="background-color:#f8f8f8;padding:10px;">
{t}-- No related attachment --{/t}
</div>
{if $actionPanel or $searchPanel }	
	<div class="" style="width:640px;">	
		<div class="action_panel" style="width:350px;">
		{foreach item=elem from=$actionPanel}
			{$elem.element}
		{/foreach}
		</div>
		<div class="search_panel" style="width:250px;">
		{foreach item=elem from=$searchPanel}
			{if $elem.label} {$elem.label} {/if} {$elem.element}
		{/foreach}
		</div>
	</div>
{/if}
{/if}
</div>