@CHARSET "UTF-8";
#main #left_panel li img{
	background-image:url(../images/left_menu_icon_system.gif);
}
#main #left_panel .content .asset .icon_asset{
	background-position:left 0px;
}
#main #left_panel .content .asset .icon_barcode{
	background-position:left -16px;
}
#main #left_panel .content .asset a:hover .icon_asset,
#main #left_panel .content .asset a.current .icon_asset,
#main #left_panel .content .asset a:active .icon_asset{
	background-position:right -0px;
}
#main #left_panel .content .asset a:hover .icon_barcode,
#main #left_panel .content .asset a.current .icon_barcode,
#main #left_panel .content .asset a:active .icon_barcode{
	background-position:right -16px;
}

.asset_welcome
{
	margin-top:10px;
	width:660px;
	height:330px;
	background-image:url(../images/dashboard_circle.png);
	background-repeat:no-repeat;
	background-position: center 30px;
}
#main .asset_welcome h2{
	line-height:26px;
}
.asset_welcome a.asset_view_btn
{
    background-image:url(../images/dashboard_buttons.png);
	background-repeat:no-repeat;
	background-position:-100px 0px;
	width:100px;
	height:80px;
	display:block;
	position:absolute;
	margin-left:260px;
}
.asset_welcome a.asset_view_btn:hover
{
	background-position:-100px -80px;
}
.asset_welcome a.asset_view_btn:active
{
	background-position:-100px -160px;
}
.asset_view_txt{
	position:absolute;
	margin-left:60px;
	margin-top:0px;	
	text-align:right;
}
#main #right_panel .asset_view_txt h2{
	width:190px;
}
.asset_view_txt p{
	width:170px;
}




.asset_welcome a.asset_manage_btn
{
    background-image:url(../images/dashboard_buttons.png);
	background-repeat:no-repeat;
	background-position: 0px 0px;
	width:100px;
	height:80px;
	display:block;
	position:absolute;
	margin-left:410px;
	margin-top:100px;
}
.asset_welcome a.asset_manage_btn:hover
{
	background-position: 0px -80px;
}
.asset_welcome a.asset_manage_btn:active
{
	background-position: 0px -160px;
}
.asset_manage_txt{
	position:absolute;
	margin-left:460px;
	margin-top:55px;	
}
#main #right_panel .asset_manage_txt h2{
	width:230px;
}
.asset_manage_txt p{
	width:230px;
	padding-left:20px;
}



.asset_welcome a.asset_barcode_btn
{
    background-image:url(../images/dashboard_buttons.png);
	background-repeat:no-repeat;
	background-position: -200px 0px;
	width:100px;
	height:80px;
	display:block;
	position:absolute;
	margin-left:150px;
	margin-top:130px;
}
.asset_welcome a.asset_barcode_btn:hover
{
	background-position: -200px -80px;
}
.asset_welcome a.asset_barcode_btn:active
{
	background-position: -200px -160px;
}
.asset_barcode_txt{
	position:absolute;
	margin-left:100px;
	margin-top:205px;	
}
#main #right_panel .asset_barcode_txt h2{
	width:230px;
}
.asset_barcode_txt p{
	width:230px;
}	


.asset_welcome a.asset_type_btn
{
    background-image:url(../images/dashboard_buttons.png);
	background-repeat:no-repeat;
	background-position: -300px 0px;
	width:100px;
	height:80px;
	display:block;
	position:absolute;
	margin-left:320px;
	margin-top:235px;
}
.asset_welcome a.asset_type_btn:hover
{
	background-position: -300px -80px;
}
.asset_welcome a.asset_type_btn:active
{
	background-position: -300px -160px;
}
.asset_type_txt{
	position:absolute;
	margin-left:405px;
	margin-top:255px;	
}
#main #right_panel .asset_type_txt h2{
	width:230px;
}
.asset_type_txt p{
	width:230px;
}	