<div id='{$form.name}' name='{$form.name}'>
<style>
{literal}
table.input_row .form_footer_panel .navi_panel label{
color:#666666;
}
.form_table .odd td{
background-color:#f8f8f8;
}
td.old_value span{
text-decoration:line-through;
color:#999999;
display:inline;
float:none;
}
{/literal}
</style>
<div style="padding-left:0px;padding-right:0px;">
<div class="from_table_container" style="width:642px;">
{if $dataPanel.data|count}
<!-- table start -->
<table border="0" cellpadding="0" cellspacing="0" class="form_table" style="width:642px;border-color:#efefef;border-color-bottom:#aaaaaa" id="{$form.name}_data_table">
	<thead>     	
         <th width="30" style="background-image:none;background-color:#efefef;color:#AAAAAA;border-color:#cccccc"
				nowrap="nowrap" style="{$th_style}"
			>{$dataPanel.elems.fld_icon.label|strip_tags}</th>	 		
		<th  style="background-image:none;background-color:#efefef;color:#AAAAAA;border-color:#cccccc;text-align:left;text-indent:10px;"
				nowrap="nowrap" style="{$th_style}"
			>{$dataPanel.elems.fld_create_time.label|strip_tags}</th>
	</thead>
     {assign var=row_counter value=0}            
     {foreach item=row from=$dataPanel.data}
     	
     	{if $row_counter is odd}
     		{assign var=bg_color value="background-color:#FAFAFA;"}     	
     	{else}
     		{assign var=bg_color value=""}
     	{/if}
     	
     	
     	 {if $row.$row_style_name != ''}
     	 	{assign var=row_style value=$dataPanel.data.$row_counter.$row_style_name}
     	 {else}
     	 	{assign var=row_style value=''}
     	 {/if}
     	 
         {if $row_style != ''}
		 	<tr id="{$form.name}-{$dataPanel.ids[$row_counter]}" 
					style="{$row_style}"										
					onclick="Openbiz.CallFunction('{$form.name}.SelectRecord({$dataPanel.ids[$row_counter]})');">		
         {elseif $row_counter == 0 and $form.currentRecordId == ""}
         {assign var=default_selected_id value=$dataPanel.ids[$row_counter]}    
			<tr id="{$form.name}-{$dataPanel.ids[$row_counter]}" 
					style="{$row_style}"
					class="even"  normal="even" select="even"
					
					onclick="Openbiz.CallFunction('{$form.name}.SelectRecord({$dataPanel.ids[$row_counter]})');">
          {elseif $row_counter is odd}
		   <tr id="{$form.name}-{$dataPanel.ids[$row_counter]}" 
		   			style="{$row_style}"
		   			class="odd"  normal="odd" select="odd"
					
					onclick="Openbiz.CallFunction('{$form.name}.SelectRecord({$dataPanel.ids[$row_counter]})');">
         {else}
			<tr id="{$form.name}-{$dataPanel.ids[$row_counter]}" 
					style="{$row_style}"
					class="even"  normal="even" select="even"
					
					onclick="Openbiz.CallFunction('{$form.name}.SelectRecord({$dataPanel.ids[$row_counter]})');">
         {/if}
         
         
	              <td nowrap="nowrap" >{$row.fld_icon}</td>
	              <td nowrap="nowrap" >{$row.fld_create_time}</td>
	        
		</tr>

		{if $row.fld_data|count}
		<tr>
			<td rowspan="2" style="background-image:none;{$bg_color}"></td>
			<td style="background-image:none;border-bottom:none;padding:0px;{$bg_color}">
				<table cellspacing="0" cellpadding="0" border="0">
					{foreach item=field from=$row.fld_data}
					<tr>
						<td width="75" style="border:none;border-bottom:1px solid #dddddd;background-image:none;padding-right:5px;background-color:#efefef;">{$field.label}</td>
						<td width="180" class="old_value" style="padding-right:10px;padding-left:5px;text-align:right;border:none;border-bottom:1px solid #dddddd;background-image:none;height:auto;padding-top:6px;">						
						{if $field.old|strip_tags}
							{$field.old}
						{else}
							<span style="color:#AAAAAA;">&lt;{t}Empty{/t}&gt;</span>
						{/if}
						</td>
						<td width="34" style="border:none;border-bottom:1px solid #dddddd;background-image:none;height:auto;padding-top:8px;"><img border="0" width="20" height="20" src="{$resource_url}/changelog/images/icon_changeto.png" /></td>
						<td width="260" style="border:none;border-bottom:1px solid #dddddd;background-image:none;height:auto;padding-top:6px;">						
						{if $field.new|strip_tags}
							{$field.new}
						{else}
							<span style="color:#AAAAAA;">&lt;{t}Empty{/t}&gt;</span>
						{/if}
						</td>
					</tr>
					{/foreach}
				</table>
			</td>
		</tr>
		{/if}
		<tr>
			{if !$row.fld_data|count}<td style="background-image:none;{$bg_color}"></td>{/if}
			<td style="background-image:none;{$bg_color}">
			{if $row.fld_comment}
			{$row.fld_comment}<br/>
			{/if}
		<span style="color:#999999;">{$row.fld_create_by}</span></td>
		</tr>
		{assign var=row_counter value=$row_counter+1}
     {/foreach}
  
							
</table>

{if $navPanel}
<div class="form_footer_panel" style="width:640px;">
		<div class="ajax_indicator" style="width:130px;">
			<div id='{$form.name}.load_disp' style="display:none" >
				<img src="{$image_url}/form_ajax_loader.gif"/>
			</div>
		</div>
		<div class="navi_panel"  style="width:145px;">
   {foreach item=elem from=$navPanel}
   		{if $elem.label} <label style="width:68px;">{$elem.label}</label>{/if}
    	{$elem.element}
   {/foreach}				
		</div>		
	</div>
{/if}	

{else}
<table></table>
<p style="padding-left:20px; color:#999999;">{t}- - No change logs about this record. - -{/t}</p>
{/if}
	
</div>
</div>