/* CSS Document */
div#login_box {
	background-image:url(../images/login_box_bg.png);
	background-repeat:no-repeat;
	width:792px;
	height:456px;
	overflow:hidden;
	text-align:left;
} 

.cubi_logo_large{
	background-image:url(../../../images/cubi_logo_large.png);
	background-repeat:no-repeat;
	background-position:125px 90px;
	text-align:left;
	width:300px;
	height:400px;
	float:left;
}
.cubi_login_banner{
	background-image:url(../../../images/login_banner.png);
	background-repeat:no-repeat;
	background-position:1px top;
	text-align:left;
	height:75px;
	height:80px;width:auto;padding-bottom:20px;
}
.cubi_login_banner h1{
	line-height: 38px;
	font-size: 38px;
    padding-top: 26px;
    color:#149BC8;
    font-weight:normal;
}
.login_form{
	text-align:left;
	width:410px;
	height:400px;
	float:left;
}
.login-top-padding{
	height:300px;padding-top:40px;
}
.v_line{
	height:400px;
	padding-left:35px;
	background-image:url(../images/v_line.jpg);
	background-repeat:no-repeat;
	background-position:left 100px;
}
span#login_indicator{
	float:left;
	color:#BEBEBE;
	text-indent:10px;
	height:22px;
	line-height:22px;
	font-size:9pt;
}
#loader{
 height:456px; 
 width:792px; 
 position:absolute;
}
#loader_bg{
 height:456px; 
 width:792px; 
 position:absolute;
 background-color:#eef0ef;
}
#forms{
 position:absolute;
 height:456px; 
 width:792px; 
}
.register-block
{
width:620px; height:365px;
padding-left:110px;
padding-top:45px;
}
.register-block .form-title
{
	
background-image:url(../images//icon_lock.gif);
background-repeat:no-repeat;
background-position:0px 0px;	
padding-left:35px;
padding-bottom:28px;
}
.register-block .form-label
{
width:120px;
text-align:right;
}