#main #right_panel .dashboard div.icon_user{
	background-image:url("../images/icon_user_m.gif");	
}
#main #right_panel .dashboard div.icon_role{
	background-image:url("../images/icon_roles_m.gif");	
}
#main #right_panel .dashboard div.icon_module{
	background-image:url("../images/icon_modules_m.gif");	
}
#main #right_panel .dashboard div.icon_menu{
	background-image:url("../images/icon_menu_m.gif");	
}
#main #right_panel .dashboard div.icon_cache{
	background-image:url("../images/icon_cache_m.gif");	
}
#main #right_panel .dashboard div.icon_eventlog{
	background-image:url("../images/icon_eventlog_m.gif");	
}
#main #right_panel .dashboard div.icon_email_queue{
	background-image:url("../images/icon_email_m.gif");	
}
#main #right_panel .dashboard div.icon_help{
	background-image:url("../images/icon_help_m.gif");	
}
#main #right_panel .dashboard div.icon_cronjob{
	background-image:url("../images/icon_cronjob_m.gif");	
}
#main #right_panel .dashboard div.icon_translation{
	background-image:url("../images/icon_translation_m.gif");	
}
#main #right_panel .dashboard div.icon_theme{
	background-image:url("../images/icon_theme_m.gif");	
}
#main #right_panel .dashboard div.icon_security{
	background-image:url("../images/icon_security_m.gif");	
}
#main #right_panel .dashboard div.icon_corp{
	background-image:url("../images/icon_corporate_m.gif");	
}
#main #right_panel .dashboard div.icon_group{
	background-image:url("../images/icon_group_m.gif");	
}
#main #right_panel .dashboard div.icon_report{
	background-image:url("../images/icon_report.jpg");	
}
#main #right_panel .dashboard div.icon_my_report{
	background-image:url("../images/icon_my_report.jpg");	
}
#main #right_panel .dashboard div.icon_myaccount{
	background-image:url("../images/icon_my_general_m.gif");	
}
#main #right_panel .dashboard div.icon_mypdf{
	background-image:url("../images/icon_pdf_m.gif");	
}
#main #right_panel .dashboard div.icon_pdf{
	background-image:url("../images/icon_pdf_m.gif");	
}
#main #right_panel .dashboard div.icon_general{
	background-image:url("../images/icon_general_m.gif");	
}
#main #right_panel .dashboard div.icon_article{
	background-image:url("../images/icon_article_m.gif");	
}
#main #right_panel .dashboard div.icon_backup{
	background-image:url("../images/icon_backup_m.gif");	
}