<form id='{$form.name}'></form>
<form id='{$form.name}_{$form.recordId}' name='{$form.name}'>

{foreach item=item key=itemName from=$dataPanel}
		{if $item.type eq 'LabelTextarea' 
		 or $item.type eq 'LabelText' 
		 or $item.type eq 'LabelList' 
		 }
			<table class="detail_form " cellspacing="0" cellpadding="0" border="0" >
			<tr>
			<td class="title" >	
				<label >{$item.label|strip_tags}</label>
			</td>
			<td class="content" ><span class="label_text" >{$item.element}</span></td>
			</tr>
			</table>
		{/if}	
{/foreach}
		<table class="detail_form " cellspacing="0" cellpadding="0" border="0" >
			<tr>
			<td class="title" >	<label></label>
			</td>
			<td >
			<span class="label_icon" >{$dataPanel.fld_share.element}</span>
			<span class="label_icon" >{$dataPanel.fld_reminder.element}</span>
			<span class="label_icon" >{$dataPanel.fld_notify.element}</span>
			<span class="label_icon" >{$dataPanel.fld_repeat.element}</span>
			<span class="label_icon" >{$dataPanel.fld_allday.element}</span>
			<span class="label_icon" >{$actionPanel.btn_edit.element}</span>
			<span class="label_icon" >{$actionPanel.btn_detail.element}</span>
			<span class="label_icon" >{$actionPanel.btn_delete.element}</span>
			</td>
			</tr>
			</table>
</form>
<script>
Openbiz.newFormObject('{$form.name}_{$form.recordId}','Openbiz.Form',''); 
</script>