#cubi-license-banner-wrapper{	
 	height:320px;

}

#cubi-license-banner-wrapper .desc
{
	height:230px;
	padding-left:0px;
	padding-top:60px;
    background-image: url("../../cubi/image/license/banner_bg.png");
    background-position: right bottom;
    background-repeat: no-repeat; 		
}

.content table.replace-logo td{
padding:0px;
padding-right:15px;
}
.content table.replace-logo img{
border:3px solid #dddddd;
}

.content table.custom-theme td{
padding:0px;
padding-right:15px;
}