#cubi-modules-banner-wrapper{	
 	height:320px;

}
#cubi-modules-banner-wrapper .desc
{
	height:240px;
	padding-left:0px;
	padding-top:60px;
    background-image: url("../../cubi/image/modules/banner_bg.png");
    background-position: 200px 40px;;
    background-repeat: no-repeat; 		
}
.content table.module-intro
{
padding:0px;
margin:0px;
}
.content table.module-intro td
{
padding:0px;
padding-right:10px;
}
.content table.module-intro li
{
	list-style:none;
    background-image: url("../../../general/image/widget/blue-dot.png");
    background-position: 0px 8px;
    background-repeat: no-repeat; 	
    padding-left:15px;
    padding-bottom:5px;	
}
.content table.module-intro－2column{	
	padding-top:10px;
	padding-bottom:0px;
}
.content table.module-intro－2column td{
	padding:0px;
	padding-bottom:15px;
}