#cubi-screenshot-banner-wrapper{	
 	height:320px;

}
#cubi-screenshot-banner-wrapper .desc
{
	height:250px;
	padding-left:0px;
	padding-top:60px;
    background-image: url("../../cubi/image/screenshot/banner_bg.png");
    background-position: 00px 0px;;
    background-repeat: no-repeat; 		
}
.content table.screenshots{
padding:0px;
margin:0px;
padding-bottom:2px;
}

.content table.screenshots td{
padding:0px;
padding-right:10px;
padding-bottom:8px;
line-height:18px;
text-align:center;
}

.content table.screenshots td a{
display:block;
color:#666666;
}
.content table.screenshots td a:hover{
color:#999999;
}
.content table.screenshots td a span{
display:block;
background-color:#efefef;
line-height:24px;
}
.content table.screenshots td a img{
border:3px solid #dddddd;
border-radius:6px;
background-color:#ffffff;
}
.content table.screenshots td a:hover img
{
border:3px solid #cccccc;
background-image:url(../../../general/image/widget/zoom-in.png);
background-position: center center;
background-repeat: no-repeat; 
background-color:#dddddd;
}




.content table.screenshots-detail{
padding:0px;
margin:0px;
padding-bottom:2px;
}

.content table.screenshots-detail td{
padding:0px;
padding-right:10px;
padding-bottom:8px;
line-height:18px;
text-align:center;
}

.content table.screenshots-detail td img{
border:3px solid #dddddd;
border-radius:6px;
background-color:#ffffff;
}
.content table.screenshots-detail td span{
display:block;
background-color:#efefef;
line-height:24px;
}