#cubi-testimonals-banner-wrapper{	
 	height:320px;
    background-image: url("../../cubi/image/testimonals/banner_bg.png");
    background-position: center bottom;
    background-repeat: no-repeat; 	
}
#cubi-testimonals-banner-wrapper .desc
{
	padding-left:185px;
	padding-top:60px;
}
.testimonal{
padding-top:10px;
padding-bottom:15px;
}
.odd{
    background-image: url("../../../general/image/widget/block-odd_bg.png");
    background-position: center top;
    background-repeat: no-repeat; 
}
.content table.quote-header{
padding:0px;
padding-top:10px;
padding-bottom:10px;
}
.content table.quote-header td{
	vertical-align:middle;
	padding:0px;
	padding-right:10px;
}
.content table.quote-header td h2{
	padding:0px;
}
.content p.quote{
padding-top:0px;
padding-bottom:10px;
background-image:url(../../../general/image/widget/icon-quote.png);
background-position: 0px 0px;
background-repeat: no-repeat;
text-indent:30px;
padding-right:80px;
margin-left:5px;
line-height:22px;
}
.content p.quote-translation
{
padding:10px;
background-color:#efefef;
width:800px;
border-radius:8px;
padding-left:20px;
padding-right:20px;
line-height:22px;
}