<div id="{$form.name}" name="{$form.name}">
<link rel="stylesheet" href="{$js_url}/jquery-ui/ui-openbiz/jquery.css" type="text/css" />
{literal}
<style>
.ui-tabs-panel .input_row{
width:645px;
padding-bottom:0px;
}
.ui-tabs-panel .odd{
background-color:#efefef;
width:645px;
}
table.input_row .element_set_panel .label_text{
padding-top:4px;
height:20px;

}
.ui-tabs-panel .input_row label {
padding-left:20px;
line-height:24px;
}
.ui-widget{
font-size:auto;
}
.ui-widget-content
{
color:#666666;
}

.record_info_table
{
	width:700px;
	padding-bottom:0px;
	border-top:1px solid #cccccc;
	border-right:1px solid #eeeeee;
	border-left:1px solid #cccccc;
}
.record_info_table .label
{
	color:#666666;
	width:100px;
	background-color:#eeeeee;
}
.record_info_table .title
{
	color:#666666;
	width:100px;
	background-color:#eeeeee;
	border-top:none;
	border-bottom:1px solid #cccccc;
	border-left:5px solid #cccccc;
	padding-left:10px;
}
.record_info_table .data
{
	font-size:22px;
	text-align:center;
	line-height:50px;
	height:50px;
}
.record_info_table td
{
	border-bottom:1px solid #cccccc;
	border-right:1px solid #eeeeee;
	line-height:20px;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:15px;
	vertical-align:top;
	padding-right:15px;
	
}

</style>
{/literal}
<div style="padding-left:25px;padding-right:40px;">
	<div>
	<table><tr><td>
		{if $form.icon !='' }
		<div class="form_icon"><img  src="{$form.icon}" border="0" /></div>
		{/if}
	
		<div style="float:left; width:632px;padding-top:10px;">
			{if $dataPanel.fld_form_title.element}
			<h1 style="padding-bottom:5px;">
			{$dataPanel.fld_form_title.element}
			</h1>
			{/if} 
			{if $dataPanel.fld_form_description.element}
			<div class="input_row" style="line-height:20px;padding-bottom:5px;">		
			{$dataPanel.fld_form_description.element}
			</div>
			{else}
			<div style="height:15px;"></div>
			{/if}
		</div>
	</td></tr></table>
	</div>
<table class="record_info_table" cellspacing="0" cellpadding="0" border="0" style="margin-bottom:0px;" >
	
		<tr>
			<td class="label" style="background-color:#dddddd"><label>{$dataPanel.fld_debit.label}</label></td>		
			<td class="label" style="background-color:#dddddd"><label>{$dataPanel.fld_credit.label}</label></td>
			<td class="label" style="font-weight:bold;"><label>{$dataPanel.fld_balance.label}</label></td>
		</tr>
		<tr>
			<td class="data" style="background-color:#fefefe">{$dataPanel.fld_debit.element}</td>		
			<td class="data" style="background-color:#f5f5f5">{$dataPanel.fld_credit.element}</td>
			<td class="data" style="">{$dataPanel.fld_balance.element}</td>
		</tr>
		
		<!-- 
		{if $dataPanel.fld_description}
		<tr>
			
			<td colspan="3" >
			{$dataPanel.fld_description.element}</td>
		</tr>
		{/if}
		 -->
	</table>
	<div class="upline" style="margin-top:5px;"></div>
	
</div>
</div>		