/* CSS Document */
div#login_box {
	background-image:url(../images/login_box_bg.png);
	background-repeat:no-repeat;
	width:792px;
	height:456px;
	overflow:hidden;
	text-align:left;
} 

.cubi_logo_large{
	background-image:url(../images/site/site-login-banner.png);
	background-repeat:no-repeat;
	background-position:0px 15px;
	text-align:left;
	width:520px;
	height:310px;
	float:left;
}
.cubi_login_banner{
	background-image:url(../images/site/login_banner.png);
	background-repeat:no-repeat;
	background-position:1px bottom;
	text-align:left;	
	margin-bottom:15px;
}
.cubi_login_banner h1{
	line-height: 38px;
	font-size: 28px;
    padding-top: 10px;
    color:#14B3F0;
    font-weight:normal;
    padding-bottom:10px;
}
.login_form{
	text-align:left;
	width:210px;
	float:left;
	padding-top:20px;
}
.v_line{
	padding-left:35px;	
	background-image:url(../images/v_line.jpg);
	background-repeat:no-repeat;
	background-position:left 70px;
}
span#login_indicator{
	float:left;
	color:#BEBEBE;
	text-indent:10px;
	height:22px;
	line-height:22px;
	font-size:9pt;
}
.register-block
{
padding-left:380px;
padding-top:45px;

}
.register-block-oauth-connect
{
padding-left:380px;
padding-top:45px;

}
.new-user{
background-image:url(../images/site/site-new-user-register.png);
background-repeat:no-repeat;
background-position:20px 60px;

}
.new-user-success{
background-image:url(../images/site/site-new-user-register-success.png);
background-repeat:no-repeat;
background-position:80px 90px;

}
.forget-passwd{
background-image:url(../images/site/site-forget-passwd.png);
background-repeat:no-repeat;
background-position:50px 80px;
padding-bottom:20px;
}
.forget-passwd-sent{
background-image:url(../images/site/site-forget-passwd-mail-sent.png);
background-repeat:no-repeat;
background-position:40px 60px;
padding-bottom:20px;
}
.passwd-reset{
background-image:url(../images/site/site-reset-passwd.png);
background-repeat:no-repeat;
background-position:60px 70px;
padding-bottom:20px;
}
.access-denied{
background-image:url(../images/site/site-access-denied.png);
background-repeat:no-repeat;
background-position:70px 60px;
padding-bottom:20px;
}
.security-denied{
background-image:url(../images/site/site-access-denied.png);
background-repeat:no-repeat;
background-position:70px 60px;
padding-bottom:20px;
}
.session-timeout{
background-image:url(../images/site/site-session-timeout.png);
background-repeat:no-repeat;
background-position:90px 60px;
padding-bottom:20px;
}
.not-found{
background-image:url(../images/site/site-page-not-found.png);
background-repeat:no-repeat;
background-position:120px 70px;
padding-left:310px;
padding-bottom:20px;
}
.server-error{
background-image:url(../images/site/site-server-error.png);
background-repeat:no-repeat;
background-position:80px 70px;
padding-bottom:20px;
padding-left:280px;
}
.oauth-connect{
padding-left:10px;
padding-top:20px;
}
.oauth-connect .system-block .input_row span
{
width:180px;
}
.oauth-connect table.system-block .input_row span{
width:180px;
}
.oauth-connect .connect-icon
{
width:120px;
background-position: 35px 50px;
}
.oauth-connect div.noticeBox
{
width:620px;
} 
.register-block .form-title
{
	
background-repeat:no-repeat;
background-position:0px 0px;	
padding-left:0px;
padding-bottom:20px;
}
.register-block .form-title h1
{
color:#14B3F0;
}
.register-block .input_error_msg
{
display:block;
overflow:hidden;
width:155px;

}
.register-block p.input_row  .label_text
{

width:auto;

}
.register-block .form-desc
{
display:block;
padding-bottom:30px;
padding-top:10px;
line-height:22px;
height:auto;
}
.register-block .form-desc-2
{
padding-top:15px;		
padding-bottom:10px;display:block;line-height:22px;padding-left:0px;height:auto;
}
.register-block .form-desc-3
{
padding-top:15px;		
padding-bottom:10px;display:block;line-height:22px;padding-left:0px;height:auto;
}
.register-block .form-desc-4
{
padding-top:0px;		
padding-bottom:10px;display:block;line-height:22px;padding-left:0px;height:auto;
}
.forget-passwd-sent .top_line
{
	height:5px; width:380px;
	border-bottom:1px solid #cccccc;
	background-image:none;
}
.register-block .form-label
{
width:60px;
}



.payment-block
{
padding-left:280px;
padding-top:25px;
}
.payment-block .form-title h1
{
color:#14B3F0;
}
.payment-block .input_row label
{
color:#333333;
}
.payment-block .input_row span
{
line-height:24px;
color:#666666;
}
.payment-finished{
background-image:url(../images/site/site-payment.png);
background-repeat:no-repeat;
background-position:120px 60px;
}