/* CSS Document */
div#login_box {
	background-image:url(../images/login_box_bg.png);
	background-repeat:no-repeat;
	width:792px;
	height:456px;
	overflow:hidden;
	text-align:left;
} 

.cubi_logo_large{
	background-image:url(../images/site/site-login-banner.png);
	background-repeat:no-repeat;
	background-position:0px 15px;
	text-align:left;
	width:520px;
	height:310px;
	float:left;
}
.cubi_login_banner{
	background-image:url(../images/site/login_banner.png);
	background-repeat:no-repeat;
	background-position:1px bottom;
	text-align:left;	
	margin-bottom:15px;
}
.cubi_login_banner h1{
	line-height: 38px;
	font-size: 28px;
    padding-top: 10px;
    color:#999999;
    font-weight:normal;
    padding-bottom:10px;
}
.login_form{
	text-align:left;
	width:210px;
	float:left;
	padding-top:20px;
}
.v_line{
	padding-left:35px;	
	background-image:url(../images/v_line.jpg);
	background-repeat:no-repeat;
	background-position:left 70px;
}
span#login_indicator{
	float:left;
	color:#BEBEBE;
	text-indent:10px;
	height:22px;
	line-height:22px;
	font-size:9pt;
}
.register-block
{
padding-left:380px;
padding-top:45px;
background-image:url(../images/site/site-new-user-register.png);
background-repeat:no-repeat;
background-position:left 30px;
}
.register-block .form-title
{
	
background-repeat:no-repeat;
background-position:0px 0px;	
padding-left:0px;
padding-bottom:28px;
}
.register-block .form-desc
{
display:block;
padding-bottom:20px;
padding-top:10px;
line-height:22px;
}
.register-block .form-label
{
width:60px;
}