span#login_indicator{
	float:left;
	color:#BEBEBE;
	text-indent:10px;
	height:22px;
	line-height:22px;
	font-size:9pt;
}
#loader{
 height:456px; 
 width:100%; 
 top:85px;
 position:absolute;
}
#loader_bg{
 height:630px; 
 width:100%; 
 top:85px;
 position:absolute;
 background-color:#ffffff;
}
#forms{
 position:absolute;
 height:456px; 
 width:792px; 
}


#header{
width:960px;
margin-left:auto;
margin-right:auto;
text-align:left;
padding-top:14px;
height:76px;
background-color:#ffffff;
}
#header a{
	color:#14B3F0;
}
#header a:hover{
	color:#009af3;
}
#header .site-logo{
float:left;
background-image:url(../images/site/site-logo.png);
background-position:0px 0px;
background-repeat:no-repeat;
width:180px;
height:64px;
}
#header .site-name{
float:left;
border-left:1px solid #cccccc;
padding-left:30px;
padding-top:10px;
margin-top:5px;
padding-bottom:8px;
}
#header .site-name span{
color:#333333;
font-size:24px;
line-height:32px;
}
#header .site-name p{
color:#999999;
}
#header .site-login-state{
background-image:url(../images/site/site-service-phone.png);
background-position:right 6px;
background-repeat:no-repeat;
float:right;
text-align:right;
width:300px;
height:24px;
padding-top:47px;
color:#999999;
margin-right:4px;
}
#header .site-user-info
{
float:right;
text-align:right;
width:300px;
height:60px;
padding-top:12px;
color:#999999;
margin-right:4px;	
}
#header .site-user-info .icon_myaccount{
padding-left:22px;
background-image:url(../images/site/site-header-icon-user.png);
background-position:0px 0px;
background-repeat:no-repeat;
line-height:16px;
height:16px;
display:block;
float:right;
padding-right:12px;
border-right:1px solid #cccccc;
margin-right:12px;
}
#header .site-user-info .icon_logout{
padding-left:22px;
background-image:url(../images/site/site-header-icon-logoff.png);
background-position:0px 0px;
background-repeat:no-repeat;
line-height:16px;
height:16px;
display:block;
float:right;
}

#content{
text-align:left;
margin-left:auto;
margin-right:auto;
width:880px;

}
#content-wrapper{
background-image:url(../images/site/site-content-wide-bg.png);
background-position:center bottom;
background-repeat:no-repeat;
background-color:#ffffff;
padding-bottom:60px;
}
#footer-wrapper{
    background-color: #EEEEEE;
    background-image: url("../images/site/site-footer-wrapper_bg.png");
    background-position: left top;
    background-repeat: repeat-x;
    padding-top: 5px;
}
#footer{
	margin-left:auto;
	margin-right:auto;
	width:960px;
	color:#999999;
	text-align:left;
	padding-bottom:60px; 
}
#footer .links{
padding-left:10px;
}
#footer .links a{
	color:#999999;
}
.footer-content{
padding-top:15px;
padding-left:10px;
width:780px;
color:#757575;
}
.footer-content h3{
color:#333333;
font-size:14px;
}
.footer-content p{
padding-bottom:20px;
line-height:22px;
}
.openbiz-certified{
background-image:url(../images/site/icon-openbiz-certified.png);
background-position:right top;
background-repeat:no-repeat;
text-align:right;
padding-top:48px;
height:30px;
margin-right:0px;
}



.wizard_progress_bar {
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:10px;

}
.wizard_progress_bar table {
    border: medium none;
    width: 950px;
}
.wizard_progress_bar table td {
    border: medium none;
}
.wizard_progress_bar table td span {
    display: block;
    text-align: center;
}
.wizard_progress_bar .progress_side_start {
    background-image: url("../images/progress_bar_side.png");
    background-position: left 0;
    background-repeat:no-repeat;
    height: 30px;
    width: 4px;
}
.wizard_progress_bar .progress_side_end {
    background-image: url("../images/progress_bar_side.png");
    background-position: right -60px;
    background-repeat:no-repeat;
    height: 30px;
    width: 4px;
}
.wizard_progress_bar .progress_side_end_completed {
    background-image: url("../images/progress_bar_side.png");
    background-position: left -90px;
    height: 30px;
    width: 4px;
}
.wizard_progress_bar .progress_bar {
    background-image: url("../images/progress_bar_bg.png");
    background-position: center 0;
    height: 30px;
    text-align: center;
}
.wizard_progress_bar .progress_bar_past {
    background-position: center 0;
    color: #EFEFEF;
}
.wizard_progress_bar .progress_bar_current {
    background-position: center -30px;
    color: #FFFFFF;
    font-weight: bold;
}
.wizard_progress_bar .progress_bar_future {
    background-position: center -60px;
    color: #CCCCCC;
}
.wizard_progress_bar .past_step {
    color: #666666;
}
.wizard_progress_bar .current_step {
    color: #149BC8;
    font-weight: bold;
}
.wizard_progress_bar .future_step {
    color: #AAAAAA;
}
.button_next_highlight {
    background-image: url("../images/btn_bg.png");
    background-position: -72px top;
    background-repeat: no-repeat;
    color: #EFEFEF;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 3px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-indent: 14px;
    width: 72px;
}
.button_next_highlight:hover {
    background-position: -72px -20px;
    color: #FFFFFF;
}
.button_next_highlight:active {
    background-position: -72px bottom;
    color: #FFFFFF;
}
.button_back {
    background-image: url("../images/btn_bg.png");
    background-position: 0 top;
    background-repeat: no-repeat;
    color: #EFEFEF;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 3px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-indent: 14px;
    width: 72px;
}
.button_back:hover {
    background-position: 0 -20px;
    color: #FFFFFF;
}
.button_back:active {
    background-position: 0 bottom;
    color: #FFFFFF;
}
.button_cancel {
    background-image: url("../images/btn_bg.png");
    background-position: -144px top;
    background-repeat: no-repeat;
    color: #EFEFEF;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 3px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-indent: 16px;
    width: 72px;
}
.button_cancel:hover {
    background-position: -144px -20px;
    color: #FFFFFF;
}
.button_cancel:active {
    background-position: -144px bottom;
    color: #FFFFFF;
}

.button_back {
    background-image: url("../images/btn_store.png");
    background-position: 0px top;
    background-repeat: no-repeat;
    color: #EFEFEF;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 3px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-indent: 16px;
    width: 72px;
}
.button_back:hover {
    background-position: 0px -20px;
    color: #FFFFFF;
}
.button_back:active {
    background-position: 0px bottom;
    color: #FFFFFF;
}

.button_active {
    background-image: url("../images/btn_store.png");
    background-position: -72px top;
    background-repeat: no-repeat;
    color: #EFEFEF;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 3px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-indent: 16px;
    width: 72px;
}
.button_active:hover {
    background-position: -72px -20px;
    color: #FFFFFF;
}
.button_active:active {
    background-position: -72px bottom;
    color: #FFFFFF;
}

.button_restart {
    background-image: url("../images/btn_store.png");
    background-position: -144px top;
    background-repeat: no-repeat;
    color: #EFEFEF;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 3px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-indent: 16px;
    width: 72px;
}
.button_restart:hover {
    background-position: -144px -20px;
    color: #FFFFFF;
}
.button_restart:active {
    background-position: -144px bottom;
    color: #FFFFFF;
}

.button_finished {
    background-image: url("../images/btn_bg.png");
    background-position: -216px top;
    background-repeat: no-repeat;
    color: #EFEFEF;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 3px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-indent: 16px;
    width: 72px;
}
.button_finished:hover {
    background-position: -216px -20px;
    color: #FFFFFF;
}
.button_finished:active {
    background-position: -216px bottom;
    color: #FFFFFF;
}

.gray-button-buy {
    background-image: url("../images/gray-button_bg.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #666666;
    display: block;
    height: 20px;
    line-height: 20px;
    padding-left: 20px;
    text-align: center;
    width: 50px;
}
.gray-button-buy:hover {
    background-position: 0 -20px;
}
.gray-button-buy:active {
    background-position: 0 -40px;
}
.gray-button {
    background-image: url("../images/gray-button-more_bg.png");
    background-position: left top;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: block;
    height: 27px;
    line-height: 26px;
    text-align: center;
    width: 80px;
}
.gray-button:hover {
    background-position: left -27px;
}
.gray-button:active {
    background-position: left -54px;
}
.gray-button-small {
    background-image: url("../images/gray-button_bg.png");
    background-position: -70px 0;
    background-repeat: no-repeat;
    color: #666666;
    display: block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 44px;
}
.gray-button-small:hover {
    background-position: -70px -20px;
}
.gray-button-small:active {
    background-position: -70px -40px;
}