@import url("appbuilder.css");

#header_warp{

	background-color:#ffffff;
}

#main_warp{
	background-color:#ffffff;
	background-image: url("../images/site/site-content-wide-bg.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    color:#666666;
}
#site-certified
{
	height:60px;
	width:860px;
	margin-left:auto;
	margin-right:auto;
	text-align:right;
	padding-right:150px;
	padding-top:30px;
	color:#999999;
	line-height:22px;
}
#header_menu{
	
	background-color:#ffffff;
	width:942px;
	margin-left:auto;
	margin-right:auto;
	
	background-image: url("../images/site/site-header-bg.png");
    background-position: center top;
    background-repeat: repeat-x;	
display:block;
height:30px;
background-color:#38a6e4;
border-radius:8px;
over-flow:hidden;
line-height:30px;
padding-left:10px;
padding-right:10px;
border:1px solid #009df2;	
}
#header_menu div.menu{
float:left;
width:900px;
 overflow: hidden;
}
#header_menu div.arrow_left {
    display: block;
    float: left;
    height: 29px;
    padding-right: 5px;
    padding-top: 2px;
    width: 15px;
}
#header_menu div.arrow_left a {
    background-image: url("../images/top_menu_arrow_bg.gif");
    background-position: 0 0;
    display: block;
    height: 25px;
    width: 15px;
}
#header_menu div.arrow_left a:hover {
    background-position: 0 -29px;
}
#header_menu div.arrow_left a:active {
    background-position: 0 -58px;
}
#header_menu div.arrow_right {
    display: block;
    float: left;
    height: 29px;
    padding-left: 5px;
    padding-top: 2px;
    width: 15px;
}
#header_menu div.arrow_right a {
    background-image: url("../images/top_menu_arrow_bg.gif");
    background-position: -15px 0;
    display: block;
    height: 25px;
    width: 15px;
}
#header_menu div.arrow_right a:hover {
    background-position: -15px -29px;
}
#header_menu div.arrow_right a:active {
    background-position: -15px -58px;
}
#header_menu ul{

}
#header_menu ul li{
display:block;
float:left;
	background-image: url("../images/site/site-header-menu-spacer.png");
    background-position: right top;
    background-repeat: no-repeat;
padding-right:1px;
    
}
#header_menu ul li a{
display:block;
line-height:30px;
color:#f0f0f0;
padding-left:18px;
padding-right:18px;
text-decoration: none;
}
#header_menu ul li a.current,
#header_menu ul li a.current:hover,
#header_menu ul li a.current:active{
display:block;
background-color:#048bd8;
color:#ffffff;
	background-image: url("../images/site/site-header-bg.png");
    background-position: center -60px;
    background-repeat: repeat-x;	
}
#header_menu ul li a:hover{
display:block;
background-color:#37a0dc;
color:#ffffff;
	background-image: url("../images/site/site-header-bg.png");
    background-position: center -30px;
    background-repeat: repeat-x;	
}
#footer_warp{

	background-color:#ffffff;
}
#header_bg{
	height:63px;
	width:1000px;
	background-image:url(../images/header_bg.png);
	border-bottom:4px solid #006599;
}

#header_navi{
	width:1000px;
	background-color:#e4e3e1;
	height:24px;
	text-align:left;
	line-height:24px;
	border-top:1px solid #f2f1f0;
	border-bottom:1px solid #d3d2d2;
}
#header_navi #navi{
	width:650px;
	height:24px;
	text-align:left;
	float:left;
	text-indent:30px;
	color:#333333;
}
#header_navi #navi a{
	height:24px;
	line-height:24px;
	text-indent:0px;
	background-repeat:no-repeat;
	text-decoration:none;
	color:#666666;
	display:block;
	float:left;
	margin-right:10px;
}
#header_navi #navi a:hover{
	color:#006599;

}
#header_navi #navi a img{
	margin-right:5px;
	display:block;
	float:left;
}
#header_navi #navi a .icon_dot{
margin-top:7px;
width:8px;
height:10px;
background-image:url(../images/nav_dot_icon.gif);
background-position:left top;
}
#header_navi #navi a:hover .icon_dot{
background-position:left bottom;
}
#header_navi #current_user_info{
	width:340px;
	height:24px;
	text-align:right;
	float:left;
	color:#999999;
	line-height:24px;
}
#main_loader_content{

}
#main{
	width:1000px;
	text-align:left;	
	border-top:1px solid #fafaf9;	
}
#main .header, #main .footer{	
	height:10px;
	background-repeat:no-repeat;
	background-position:left top;
	overflow:hidden;
}
#main_content{
	width:1000px;
}
#main .content,
#main .content_tree{	
	background-repeat:repeat-y;
}
#main #left_panel{
	width:210px;
	overflow:hidden;
}
#main h2{
	text-indent:18px;
	line-height:38px;
}
#main #left_panel h2{
	color: #333333;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    text-indent: 5px;
    width: 105px;
}
#main #left_panel .menu_index_link
{
	color: #999999;
    text-decoration: none;	
}
#main #left_panel .menu_index_link:hover {
    color: #666666;
    text-decoration: underline;
}
#main #left_panel .menu_index_link:active {
    color: #999999;
    text-decoration: underline;
}
#main #left_panel .content .btn_dashboard{
    background-image: url("../images/dashboard_icon.gif");
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 12px;
    margin-left: 5px;
    margin-top: 3px;
    margin-right: 5px;
    width: 12px;
}
#main #left_panel .content .btn_dashboard:hover {
    background-position: -12px top;
}
#main #left_panel .content .btn_dashboard:active {
    background-position: -24px top;
}
#main #left_panel .menu_title
{
height:25px;padding-top:0px;margin-bottom:5px;border-bottom: 1px solid #D6D6D6;margin-left:10px;margin-right:20px;
}	
/*
 * Left Panel Styles 
 */

#main #left_panel .content .toplevel
{
	display:block;
	padding-left:10px;
}
#main #left_panel .content_tree .toplevel{
	display:block;
	padding-left:8px;
}
#main #left_panel .content .toplevel li{
	list-style:none;
	display:block;
	width:180px;
	padding-left:0px;
}
#main #left_panel .content ul li a{
	display:block;
	height:22px;
	width:180px;
	line-height:22px;
	border-bottom:1px solid #d6d6d6;
	text-decoration:none;	
	background-repeat:no-repeat;
	background-image:url(../images/left_menu_item_bg.gif);
	cursor:pointer;
}

/* Includes Nav style for horizontal menu */
#main #left_panel .content ul.left_menu li img,
#main #nav li img
{
	height:16px;
	width:16px;
	background-repeat:no-repeat;
	display:block;
	float:left;
	margin-right:8px;
	margin-top:2px;
	border:0px;
}
#main #left_panel .content .toplevel li a{
	font-weight:bold;
	background-position:left 22px;
	color:#757575;
}
#main #left_panel .content .toplevel li a:hover{
	color:#FFFFFF;
	background-position:left 0px;
}	
#main #left_panel .content .toplevel li a:active, #main #left_panel .content .toplevel li a.current{
	color:#FFFFFF;
	background-position:left -22px;
}

#main #left_panel .content .toplevel li img{
	margin-left:5px;
}	
#main #left_panel .content .secondlevel{
	display:none;

}

#main #left_panel .content .secondlevel li a{
	font-weight:normal;
	background-position:left 23px;
	color:#666666;
	border-bottom:none;
	height:22px;
	line-height:22px;
	text-indent:30px;

}
#main #left_panel .content ul.secondlevel{
padding-top:5px;
padding-bottom:5px;
}	
#main #left_panel .content .secondlevel li a:hover{
	color:#454545;
	background-position:left -44px;
}	
#main #left_panel .content .secondlevel li a:active, #main #left_panel .content .secondlevel li a.current{
	color:#333333;
	background-position:left -66px;
}
#main #left_panel .content .secondlevel li img{
	margin-left:15px;
}	


#main #left_panel .header, #main #left_panel .footer{	
	width:198px;
}
#main #left_panel .content_block .header{
	background-image:url(../images/left_block_header.gif);
}
#main #left_panel .content_block .content,
#main #left_panel .content_block .content_tree{
	background-image:url(../images/left_block_content.gif);
}
#main #left_panel .content_block .footer{
	background-image:url(../images/left_block_footer.gif);
}
#main #left_panel .content_block_dark .header{
	background-image:url(../images/left_block_dark_header.gif);
}
#main #left_panel .content_block_dark .content{
	background-image:url(../images/left_block_dark_content.gif);
}
#main #left_panel .content_block_dark .footer{
	background-image:url(../images/left_block_dark_footer.gif);
}
#main .v_spacer{
	width:210px;
	height:14px;	
}
#main #left_panel .content .title {
	border-bottom:1px solid #D6D6D6;
	width:180px;
	margin-left:10px;
	height:25px;
}
#main #left_panel .content .title h2{
	color:#666666;
	line-height:25px;
	font-size:14px;
	font-weight:normal;
	display:block;
	float:left;
	text-indent:5px;
	width:85px;
}
#main #left_panel .content .title p{
	color:#999999;
	line-height:25px;
	font-size:12px;
	display:block;
	float:left;
	text-indent:5px;
}
#main #left_panel .content .title span{
	display:block;
	float:left;
}
#main #left_panel .content .title span a{
	text-decoration:none;
	color:#999999;
}
#main #left_panel .content .title span a:hover{
	color:#666666;
	text-decoration:underline;
}
#main #left_panel .content .title span a:active{
	color:#999999;
	text-decoration:underline;
}
#main #left_panel .content .title .btn_max{
	height:12px;
	width:12px;
	background-repeat:no-repeat;
	background-position:left top;
	background-image:url(../images/help_icon.gif);
	margin-top:7px;
	margin-left:5px;
	display:block;
	float:left;
}
#main #left_panel .content .title .btn_max:hover{
	background-position:-12px top;
}
#main #left_panel .content .title .btn_max:active{
	background-position:-24px top;
}
#main #left_panel .content .title .btn_min{
	height:12px;
	width:12px;
	background-repeat:no-repeat;
	background-position:left bottom;
	background-image:url(../images/help_icon.gif);
	margin-top:7px;
	margin-left:5px;
	display:block;
	float:left;
}
#main #left_panel .content .title .btn_min:hover{
	background-position:-12px bottom;
}
#main #left_panel .content .title .btn_min:active{
	background-position:-24px bottom;
}
#main #left_panel #help_content ul{
	display:block;
	width:180px;
	margin-left:10px;
	padding:10px 0px 10px 0px;
	border-bottom:1px solid #D6D6D6;
	line-height:22px;
	background-image:none;
	
}
#main #left_panel #help_content div.underline{
	display:block;
	width:180px;
	margin-left:10px;
	padding:5px 0px 0px 0px;
	border-bottom:1px solid #D6D6D6;
	line-height:22px;
	background-image:none;
	
}
#main #left_panel #help_content h3{
	padding:0px;
	margin:0px;
	font-size:12px;
	font-weight:bold;
	padding-left:10px;	
}
#main #left_panel #help_content p{
	padding:0px;
	margin:0px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
}
#main #left_panel #help_content ul li{
	padding-left:5px;
	list-style:none;
}
#main #left_panel #help_content ul li a{
	text-decoration:none;
	color:#666666;
	background-image:none;
	border-bottom:none;
	height:auto;
	line-height:18px;
	padding-top:2px;
	padding-bottom:2px;
}
#main #left_panel #help_content ul li a:hover{
	color:#333333;
	text-decoration:underline;
}
#main #left_panel #help_content ul li a:active{
	color:#757575;
	text-decoration:underline;
}

/*
 * Right Panel Styles 
 */

#main #right_panel{
	width:770px;
}
.detail_form_panel_padding
{
	padding-left:30px;
}
#main #right_panel .content p.input_row{
	
}

#main #right_panel .content table.input_row td .label_text{
	/*width:250px;*/
	height:auto;
	float:left;
	display:block;
	word-break:break-all; 
	overflow:auto;
	text-align:left;
	padding-left:1px;
}
#main #right_panel .content table.input_row td .label_text img {    
    margin-top: 0px;    
}
#main #right_panel .content table.input_row td .label_text div img {    
    margin-top: 0px;    
}
#main #right_panel .content table.input_row td .label_textarea{
	width:700px;
	display:block;
	word-break:break-all; 
	overflow:auto;
	text-align:left;
}
#main #right_panel .content .action_panel_set p.input_row{
padding-top:5px;
height:25px;
padding-left:5px;
margin-bottom:2px;
}
#main #right_panel .content .action_panel_set p.even{
background-color:#efefef;
}
#main #right_panel h2{
	text-indent:0px;
	width: 550px;
}
#main #right_panel .form_desc{
	padding:0px;	
	line-height:18px;
	padding-bottom:10px;
}
#main #right_panel .form_header_breadcrumb{
	line-height:18px;
	padding-bottom:10px;
	width:695px;
}
#main #right_panel .form_icon{
float:left; padding-top:10px;height:50px;padding-right:15px;
}
#main #right_panel .header, #main #right_panel .footer{	
	width:752px;
}
#main #right_panel .content_block .header{
	background-image:url(../images/right_block_header.gif);
}
#main #right_panel .content_block .content{
	background-image:url(../images/right_block_content.gif);
}
#main #right_panel .content_block .footer{
	background-image:url(../images/right_block_footer.gif);
}

#main #right_panel .dashboard {
padding-left:20px;
}
#main #right_panel .dashboard div {
background-image:url("../images/icon_module.jpg");
background-position:left 15px;
background-repeat:no-repeat;
float:left;
padding-left:20px;
padding-bottom:40px;
margin-right:7px;
width:185px;
}
#main #right_panel .dashboard div h3 {
margin:7px 0px 4px 0px;
padding-left:20px;
padding-bottom:5px;
font-size:25px;
color:#14A8F1;
}
#main #right_panel .dashboard div ul {
line-height:20px;
padding-top:0px;
}
#main #right_panel .dashboard div ul li{
line-height:20px;	
list-style:none;
}
#main #right_panel .dashboard div p{
padding-left:20px;
}
#main #right_panel .dashboard div ul a {
color:#999999;
padding-left:20px;
}
#main #right_panel .dashboard div ul a:hover {
color:#006599;
background-image:url("../images/blue_list_arrow.gif");
background-position:2px 0px;
background-repeat:no-repeat;
padding-left:22px;
}


/*
 * Full Panel Styles 
 */
	
#main #full_panel{
	width:980px;
}
.detail_form_panel_padding
{
	padding-left:20px;
}
#main #full_panel .content p.input_row{
	
}

#main #full_panel .content table.input_row td .label_text{
	/*width:250px;*/
	height:26px;
	float:left;
	display:block;
	word-break:break-all; 
	overflow:auto;
	text-align:left;
}
#main #full_panel .content table.input_row td .label_textarea{
	width:700px;
	display:block;
	word-break:break-all; 
	overflow:auto;
	text-align:left;
}
#main #full_panel .content .action_panel_set p.input_row{
padding-top:5px;
height:25px;
padding-left:5px;
margin-bottom:2px;
}
#main #full_panel .content .action_panel_set p.even{
background-color:#efefef;
}
#main #full_panel h2{
	text-indent:0px;
	width: 550px;
}
#main #full_panel .form_desc{
	padding:0px;	
	line-height:18px;
	padding-bottom:10px;
}
#main #full_panel .form_header_breadcrumb{
	line-height:18px;
	padding-bottom:10px;
	width:695px;
}
#main #full_panel .form_icon{
float:left; padding-top:10px;height:50px;padding-right:15px;
}
#main #full_panel .header, #main #full_panel .footer{	
	width:960px;
}
#main #full_panel .content_block .header{
	background-image:url(../images/full_block_header.gif);
}
#main #full_panel .content_block .content{
	background-image:url(../images/right_block_content.gif);
}
#main #full_panel .content_block .footer{
	background-image:url(../images/full_block_footer.gif);
}

#main #full_panel .dashboard {
padding-left:20px;
}
#main #full_panel .dashboard div {
background-image:url("../images/icon_module.jpg");
background-position:left 15px;
background-repeat:no-repeat;
float:left;
padding-left:20px;
padding-bottom:40px;
margin-right:7px;
width:195px;
}
#main #full_panel .dashboard div h3 {
margin:2px 0px 0px 0px;
padding-left:20px;
padding-bottom:5px;
font-size:14px;
}
#main #full_panel .dashboard div ul {
line-height:20px;
padding-top:10px;
}
#main #full_panel .dashboard div ul li{
line-height:20px;	
list-style:none;
}
#main #full_panel .dashboard div p{
padding-left:20px;
}
#main #full_panel .dashboard div ul a {
color:#999999;
padding-left:20px;
}
#main #full_panel .dashboard div ul a:hover {
color:#006599;
background-image:url("../images/blue_list_arrow.gif");
background-position:2px 0px;
background-repeat:no-repeat;
padding-left:22px;
}




#main_loader{
 z-index:150;
  height:456px; 
 width:100%; 
 position:absolute;
}
#main_loader_bg{
 height:100%; 
 width:1000px; 
 position:absolute;
 background-color:#ffffff;
 z-index:100;
}
#footer{

}
#footer a {
	color:#999999;
	margin-left:5px;
	margin-right:5px;
	text-decoration:none;
}
#footer a:hover {
	color:#666666;
}
#footer span {
	margin-right:5px;	
}
.underline{
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-top:5px;
	width:650px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
.upline{
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-top:5px;
	width:650px;
	border-top-width: 0px;
	border-top-style: solid;
	border-top-color: #CCC;
	/*-moz-border-image: url(../images/upline.png)  0 1  stretch ;*/
	background-image:url(../images/upline.png);
	background-repeat:no-repeat;
	background-position:center top ;
}
.photo_frame{
	background-image:url(../images/profile_photo_bg.gif);
	background-repeat:no-repeat;
	width:90px;
	height:125px;
	overflow:hidden;
	text-align:center;
	padding:10px;
	padding-left:9px;
}

.form_header_breadcrumb{
	width:450px;
	height:24px;
	text-align:left;
	text-indent:30px;
	color:#333333;
	padding-left:2px;
}
.form_header_breadcrumb a{
	height:24px;
	line-height:24px;
	text-indent:0px;
	background-repeat:no-repeat;
	text-decoration:none;
	color:#666666;
	display:block;
	float:left;
	margin-right:10px;
}
.form_header_breadcrumb a:hover{
	color:#006599;

}
.form_header_breadcrumb a img{
	margin-right:5px;
	display:block;
	float:left;
}
.form_header_breadcrumb a .icon_dot{
margin-top:7px;
width:8px;
height:10px;
background-image:url(../images/nav_dot_icon.gif);
background-position:left top;
}
.form_header_breadcrumb a:hover .icon_dot{
background-position:left bottom;
}
.screen_switch_max_btn {
    background-position: 0 -16px;
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    overflow: hidden;
    width: 16px;
    background-image: url("../images/screen_switch_icon.gif");
}
.screen_switch_max_btn:hover {
    background-position: -16px -16px;
}
.screen_switch_max_btn:active {
    background-position: -32px -16px;
}
.screen_switch_min_btn {
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    overflow: hidden;
    width: 16px;
    background-image: url("../images/screen_switch_icon.gif");
}
.screen_switch_min_btn:hover {
    background-position: -16px 0px;
}
.screen_switch_min_btn:active {
    background-position: -32px 0px;
}
/* styles for new app*/
.newapp_bg {
	height:420px;
    background-image:none;
    background-position: left bottom;
    background-repeat: no-repeat;
    padding-top:20px;    
    padding-left:40px; padding-right:40px;
}
.newapp_bg_warper{
    /*background-image: url("../images/newapp/newapp_top_bg.png");*/
    background-position: 430px -60px;
    background-repeat: no-repeat;
}
.newapp_title {
	background-image: url("../images/newapp/newapp_title.png");
    background-position: 20px top;
    background-repeat: no-repeat;
    width:250px;    
    padding-left:20px;
    float:left;
}
.newapp_title h2{	
    padding-top:35px;
    font-size:45px;	
    padding-bottom:25px;
}
.newapp_desc
{
	float:left;
	padding-left:20px;
	height:70px;
	padding-top:35px;
	background-image: url("../images/newapp/v_line.png");
    background-position: left 25px;
    background-repeat: no-repeat;
}
.content_block .content #appbuilder\.widget\.WelcomeForm .appbuilder_bg{
	background-image:none;
}