<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<meta name="description" content="{$description}"/>
<meta name="keywords" content="{$keywords}"/>
{$style_sheets}
{$scripts}
<link rel="stylesheet" href="{$css_url}/page-view-style.css" type="text/css" />
<link rel="stylesheet" href="{$app_url}/languages/{$lang_name}/localization.css" type="text/css" />
</head>

<body>
<div align="center" id="body_warp">
	<div id="header_warp">
	{include file='system_header.tpl.html'}

	
		<div id="header_menu">
			<!-- top menu start -->
			{php}
			$temp = Bizsystem::GetObject('menu.widget.MainTabMenu')->render();
			unset($temp);
			echo Bizsystem::GetObject('menu.widget.MainTabMenu')->render();
			{/php}
			<!-- top menu end -->	
		</div>
	</div>
	<!--main warp-->
	<div id="main_warp">	
		<!--main-->
		<div id="main" >
			{include file='system_loader.tpl.html'}
			<table id="main_content" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td valign="top" style="width:18px;"><img src="{$image_url}/spacer.gif" style="width:18px;" /></td>
					<td valign="top" id="left_panel">
						{include file='system_left_panel.tpl.html'}
					</td>
					<td valign="top" id="right_panel">
						<!-- right block start -->
						{include file='system_dashboard_panel.tpl.html'}
						<!-- right block end -->
					</td>
				</tr>
			  </table>		  
			</div>
			<!--main-->
			
			<!-- certified message -->
			<div id="site-certified">
			{t}
			如果您在公用电脑登陆系统，当您结束使用时，请您点击“安全退出”按钮。
			为了给您带来更好的使用体验，建议您使用 Firefox、Safari 或 Chrome 浏览器并将其更新至最新版本。					
			{/t}
			</div>
			
		</div>		
		<!--main wrap end-->
		<!--footer-->
		<div  id="footer_warp">			
		{include file='system_footer.tpl.html'}
		</div>
		<!-- footer end -->
	
	</div>
</div>

{literal}
<script>
$('main_loader_bg').style.height = $('main_content').offsetHeight+'px';
</script>
{/literal}
</body>
</html>