<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<meta name="description" content="{$description}"/>
<meta name="keywords" content="{$keywords}"/>
<script src="{$js_url}/ckeditor/ckeditor.js"></script>
{$style_sheets}
{$scripts}
<link rel="stylesheet" href="{$css_url}/page-view-style.css" type="text/css" />
<link rel="stylesheet" href="{$app_url}/languages/{$lang_name}/localization.css" type="text/css" />
{include file='google_analytics_code.tpl.html'}
</head>

<body>
<div align="center" id="body_warp">
	<div id="header_warp">
	{include file='system_header.tpl.html'}

{php}
$widget = Bizsystem::GetObject('menu.widget.MainTabMenu');
if($widget->m_GlobalSearchRule && $widget->m_SearchRule){
	$searchRule = $widget->m_GlobalSearchRule ." and ". $widget->m_SearchRule;
}else{
	$searchRule = $widget->m_SearchRule;
}
$menu_count = $widget->getDataObj()->recordCount($searchRule);
$menu_item_width = 115;
$menu_width = ($menu_count * $menu_item_width)."px";
$this->assign('menu_count', $menu_count);

$header_background_image = $this->_tpl_vars['header_background_image'];
$custom_header_background_image = APP_HOME.'/images/cubi_top_header.png';
if(file_exists($custom_header_background_image))
{
	$header_background_image_url = APP_URL.'/images/cubi_top_header.png';
	$this->assign('header_background_image_url', $header_background_image_url);
}
elseif($header_background_image)
{
	$header_background_image_url = RESOURCE_URL.$header_background_image;
	$this->assign('header_background_image_url', $header_background_image_url);
}
{/php}
<script>
var top_menu_item_width='{php}echo $menu_item_width;{/php}';
var top_menu_width='{php}echo ($menu_count * $menu_item_width);{/php}';
var top_menu_count='{php}echo $menu_count;{/php}';
var top_menu_first=0;
var top_menu_play=false;
var top_menu_move_direction='';
var top_menu_play_speed=1000;
</script>
<div style="padding-top:10px;padding-bottom:12px">
		<div id="header_menu">
		<div class="arrow_left">
			{if $menu_count >10}
			<a  onmouseover="top_menu_move_direction='left';top_menu_move();top_menu_play=true;" 
				onmouseout="top_menu_play=false;"
				href="javascript:;"><img height="29" width="10" src="{$image_url}/spacer.gif" /></a>
			{/if}
		</div>	
		<div class="menu" style="position: relative;">
			<div id="top_menu_list" style="width: {php}echo ($menu_count * $menu_item_width);{/php}px; position: relative; left: 0px; padding-left: 0px; top: 0px;" >
				<!-- top menu start -->
				{php}
				$temp = Bizsystem::GetObject('menu.widget.MainTabMenu')->render();
				unset($temp);
				echo Bizsystem::GetObject('menu.widget.MainTabMenu')->render();
				{/php}
				<!-- top menu end -->	
			</div>
		</div>
		<div  class="arrow_right">
			{if $menu_count >10}
			<a onmouseover="top_menu_move_direction='right';top_menu_move();top_menu_play=true;" 
				onmouseout="top_menu_play=false;"				
			 href="javascript:;"><img height="29" width="10" src="{$image_url}/spacer.gif" /></a>
			{/if}
		</div>	
		</div>
</div>			
	</div>
	<!--main warp-->
	<div id="main_warp">	
		<!--main-->
		<div id="main" >
			{include file='system_loader.tpl.html'}
			<table id="main_content" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td valign="top" style="width:18px;"><img src="{$image_url}/spacer.gif" style="width:18px;" /></td>
					<td valign="top" id="left_panel">
						{include file='system_left_panel.tpl.html'}
					</td>
					<td valign="top" id="right_panel">
						<!-- notification block start -->
						<div id="notification">
						{php}echo Bizsystem::GetObject('notification.widget.NotificationWidgetForm')->render();{/php}
						</div>
						<!-- notification block start -->
					
						<!-- right block start -->
						{include file='system_right_panel.tpl.html'}
						<!-- right block end -->
					</td>
				</tr>
			  </table>		  
			</div>
			<!--main-->
			
			<!-- certified message -->
			<div id="site-certified">
			{t}
			如果您在公用电脑登陆系统，当您结束使用时，请您点击“安全退出”按钮。
			为了给您带来更好的使用体验，建议您使用 Firefox、Safari 或 Chrome 浏览器并将其更新至最新版本。					
			{/t}
			</div>
			
		</div>		
		<!--main wrap end-->
		<!--footer-->
		<div  id="footer_warp">			
		{include file='system_footer.tpl.html'}
		</div>
		<!-- footer end -->
	
	</div>

{literal}
<script>
$('main_loader_bg').style.height = $('main_content').offsetHeight+'px';
</script>
{/literal}
</body>
</html>