<div id="header">
	<!-- <a class="site-logo" href="{$app_index}"></a> -->
	<a class="site-logo" href="http://www.openbiz.cn/"></a>
	<div class="site-name">
		<span>{t}客户服务中心{/t}</span>
		<p>{t}在Openbiz为您的企业构建商业智能解决方案{/t}</p>
	</div>
	
		{php}
		$profile_id = BizSystem::getUserProfile("Id");
		$profile_display = BizSystem::GetProfileName($profile_id,'short');
		$profile_email = BizSystem::GetProfileEmail($profile_id);
		
		$this->assign('profile', $profile_display);
		$this->assign('profile_email', $profile_email);
		$this->assign('profile_id', $profile_id);
		{/php}
		
		{if $form.show_widget }
		{foreach item=elem from=$dataPanel}
			{if $elem.label} 
				<span style="display:block;float:left;padding-right:5px;padding-top:2px;">{$elem.label}</span> 
			{/if} 
			{$elem.element}
		{/foreach}
		{elseif $profile_id}
			<div class="site-user-info">
			{t}User:{/t} {$profile}<br/>
			{t}Openbiz ID:{/t} {$profile_email}<br/>
				<div style="padding-top:5px;">				
				<a class="icon_logout" href="{$app_index}/user/logout" >{t}Logout{/t}</a>
				{if $view.module eq 'mystore' ||  $view.module eq 'cart' ||  $view.module eq 'common'||  $view.module eq 'payment'||  $view.module eq 'oauth'}
				<a class="icon_myaccount" href="{$app_index}/mystore/profile" >{t}My Account{/t}</a>
				{else}
				<a class="icon_myaccount" href="{$app_index}/myaccount/dashboard" >{t}My Account{/t}</a>
				{/if}			
				</div>
			</div>
		{else}
			<div class="site-login-state">
				如需协助开户欢迎您致电免费热线 ｜ <a href="{$app_index}/user/register">立即开始</a>
			</div>
		{/if}	
	
	
	
</div>	
