<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{php}if(preg_match('/iPad/si',$_SERVER['HTTP_USER_AGENT']) || preg_match('/iPhone/si',$_SERVER['HTTP_USER_AGENT'])){ {/php}
{include file='ios_webapp.tpl.html'}
{php}}{/php}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<link rel="stylesheet" href="{$css_url}/general.css" type="text/css" />
<link rel="stylesheet" href="{$css_url}/page-view-style.css" type="text/css" />
<link rel="stylesheet" href="{$css_url}/login.css" type="text/css" />
<script src="{$js_url}/jquery.js"></script>
<script src="{$js_url}/jquery-ui-1.8.12.custom.min.js"></script>
<script src="{$js_url}/jquery.textbox.hinter.js"></script>
<script>{literal}try{var $j=jQuery.noConflict();}catch(e){}{/literal}</script>
{$style_sheets}
{$scripts}
{php}if(preg_match('/iPad/si',$_SERVER['HTTP_USER_AGENT']) || preg_match('/iPhone/si',$_SERVER['HTTP_USER_AGENT'])){ {/php}
<link rel="stylesheet" href="{$css_url}/ipad.css" type="text/css" />
{php}}{/php}
{php}if(preg_match('/Android/si',$_SERVER['HTTP_USER_AGENT'])){ {/php}
<link rel="stylesheet" href="{$css_url}/andriod.css" type="text/css" />
{php}}{/php}
<link rel="stylesheet" href="{$app_url}/languages/{$lang_name}/localization.css" type="text/css" />
</head>

<body>
<div align="center" id="body-wrapper">
	{include file='system_header.tpl.html'}
	<div id="content-wrapper">
	<div id="content">

				<div >
					<div style="height:25px;"></div>					
					{foreach item=form from=$forms}
					   <div>{$form}</div>
					{/foreach}
				</div>
				
				<div class="footer-content">
					<h3>使用社交帐号登陆</h3>
					<p>Openbiz Cubi Platform 是面向商业应用设计的快速开发平台。 它基于先进的Openbiz框架构建，提供了简单且智能的开发工具，并已实现了几乎所有非核心业务逻辑，剩下的事情 只是想清楚项目的业务逻辑关系。Openbiz Cubi让软件开发变得可以如此简单快捷。 </p>
				
					<h3>其它常见问题</h3>
					<p style="padding-bottom:0px;">Openbiz Cubi Platform 是面向商业应用设计的快速开发平台。 它基于先进的Openbiz框架构建，提供了简单且智能的开发工具，并已实现了几乎所有非核心业务逻辑，剩下的事情 只是想清楚项目的业务逻辑关系。Openbiz Cubi让软件开发变得可以如此简单快捷。 </p>
				</div>
				
				<div id="loader_bg" ></div>
				<div id="loader">
					<div style="height:185px;"></div>
					<div style="padding-left:300px; text-align:left">
					<div class="loader_box">
						<img src="{$image_url}/ajax_loader.gif" style="float:left; margin-top:8px;" />
						<p style="float:left;margin-left:10px; padding-top:5px;" >
						<img src="{$image_url}/loading.gif" />
						<br/><span style="padding-left:3px;color:#aaaaaa ">{t}正在载入请稍候 ...{/t}</span></p>
					</div>
					</div>			
				</div>
				{literal}
				<script>
					$('loader_bg').fade( {from: 1, to: 0.7});
					$('loader').fade( {from: 0, to: 1});
				</script>
				{/literal}

		</div>
	</div>
	{include file='system_footer.tpl.html'}
</div>

{literal}
<script>
window.onload=fade_loader;
window.onunload=fadeout_loader;
try{
$('welcome-message').innerHTML='{/literal}{t}欢迎您登陆系统{/t}{literal}';
}catch(e){}
function fade_loader(){
	window.setTimeout("$('loader').fade( {from: 0.7, to: 0});",800);
	window.setTimeout("$('loader_bg').fade( {from: 0.7, to: 0});",800);	
	window.setTimeout("$('loader').hide();",2000);
	window.setTimeout("$('loader_bg').hide();",2000);	
}
function fadeout_loader(){	
	$('loader_bg').fade( {from: 0.5, to: 1});
}
</script>
{/literal}
{php}if(preg_match('/iPad/si',$_SERVER['HTTP_USER_AGENT']) || preg_match('/iPhone/si',$_SERVER['HTTP_USER_AGENT'])){ {/php}
<script src="{$js_url}/ios_webapp.js"></script>
{php}}{/php}
</body>
</html>