<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<link rel="stylesheet" href="{$css_url}/general.css" type="text/css" />
<link rel="stylesheet" href="{$css_url}/page-view-style.css" type="text/css" />
<link rel="stylesheet" href="{$css_url}/login.css" type="text/css" />
<script src="{$js_url}/jquery.js"></script>
<script src="{$js_url}/jquery-ui-1.8.12.custom.min.js"></script>
<script src="{$js_url}/jquery.textbox.hinter.js"></script>
<script>{literal}try{var $j=jQuery.noConflict();}catch(e){}{/literal}</script>
{$style_sheets}
{$scripts}
{php}if(preg_match('/iPad/si',$_SERVER['HTTP_USER_AGENT']) || preg_match('/iPhone/si',$_SERVER['HTTP_USER_AGENT'])){ {/php}
<link rel="stylesheet" href="{$css_url}/ipad.css" type="text/css" />
{php}}{/php}
{php}if(preg_match('/Android/si',$_SERVER['HTTP_USER_AGENT'])){ {/php}
<link rel="stylesheet" href="{$css_url}/andriod.css" type="text/css" />
{php}}{/php}
<link rel="stylesheet" href="{$app_url}/languages/{$lang_name}/localization.css" type="text/css" />
{include file='google_analytics_code.tpl.html'}
</head>

<body>
<div align="center" id="body-wrapper">
	{include file='system_header.tpl.html'}
	<div id="content-wrapper">
	<div id="content">

				<div >
					<div style="height:20px;"></div>					
					{foreach item=form from=$forms}
					   <div>{$form}</div>
					{/foreach}
				</div>
				
				<div class="footer-content">
					<h3>{t}使用社交帐号登陆{/t}</h3>
					<p>{t}您可以将您的社交网络帐号与您的 Openbiz ID 绑定来实现快捷登陆。您的Openbiz 可以同时与多个社交帐号同时进行绑定。绑定后该社交帐号进行登陆将会自动识别为Openbiz ID的别名，该绑定不会涉及到您在社交网站上的隐私信息。如希望取消绑定，可以随时在“我的账户”解除关联。 {/t}</p>
				
					<h3>{t}其它注意事项{/t}</h3>
					<p style="padding-bottom:0px;">
					{t}为了给您带来更好的使用体验，建议您使用 Firefox、Safari 或 Chrome 浏览器并将其更新至最新版本。
					如果遇到无法登陆问题，请您需要确认浏览器是否已经开启允许 Cookies 功能。 
					如果您在公用电脑登陆系统，当您结束使用时，请您点击“安全退出”按钮。{/t}
					</p>
				</div>
				


		</div>
	</div>
				<div id="loader_bg" ></div>
				<div id="loader">
					<div style="height:185px;"></div>
					<div style="margin-left:auto;margin-right:auto;width:200px;text-align:left">
					<div class="loader_box">
						<img src="{$image_url}/ajax_loader.gif" style="float:left; margin-top:8px;" />
						<p style="float:left;margin-left:10px; padding-top:5px;" >
						<img src="{$image_url}/loading.gif" />
						<br/><span style="padding-left:3px;color:#aaaaaa ">{t}正在载入请稍候 ...{/t}</span></p>
					</div>
					</div>			
				</div>
				{literal}
				<script>
					$('loader_bg').fade( {from: 1, to: 0.7});
					$('loader').fade( {from: 0, to: 1});
				</script>
				{/literal}
	{include file='system_footer.tpl.html'}
</div>

{literal}
<script>
window.onload=fade_loader;
window.onunload=fadeout_loader;

function fade_loader(){
	window.setTimeout("$('loader').fade( {from: 0.7, to: 0});",800);
	window.setTimeout("$('loader_bg').fade( {from: 0.7, to: 0});",800);	
	window.setTimeout("$('loader').hide();",2000);
	window.setTimeout("$('loader_bg').hide();",2000);	
}
function fadeout_loader(){	
	$('loader_bg').fade( {from: 0.5, to: 1});
}
</script>
{/literal}
</body>
</html>