{php}
$header_background_image='/collaboration/images/top_logo_banner.gif';
$this->assign('header_background_image', $header_background_image);
$includedScripts = BizSystem::clientProxy()->getAppendedScripts();
$includedScripts.="\n"."
<script src=\"".JS_URL."/cookies.js\"></script>
<script src=\"".JS_URL."/grouping.js\"></script>
<script src=\"".JS_URL."/jquery.js\"></script>
<script type=\"text/javascript\" src=\"".JS_URL."/DateRangePicker/daterangepicker.jQuery.js\"></script>
<link rel=\"stylesheet\" href=\"".JS_URL."/DateRangePicker/css/ui.daterangepicker.css\" type=\"text/css\" />
<link rel=\"stylesheet\" href=\"".JS_URL."/DateRangePicker/css/redmond/jquery-ui-1.7.1.custom.css\" type=\"text/css\" />
";
$this->_tpl_vars['scripts'] = $includedScripts;


$left_menu = "collaboration.widget.CollaborationLeftMenu";
$this->assign('left_menu', $left_menu);

$appendStyle = BizSystem::clientProxy()->getAppendedStyles();
$this->_tpl_vars['style_sheets'] = $appendStyle;
$this->assign('template_file', 'system_view.tpl.html');
{/php}
{include file=$template_file}