/*styles for jquery ui daterangepicker plugin */

.ui-daterangepickercontain {
	position: absolute;
	z-index: 999;
}
.ui-daterangepickercontain .ui-daterangepicker {
	float: left;
	padding: 5px !important;
	width: auto;
	display: inline;
	background-image: none !important;
	clear: left;
}
.ui-daterangepicker ul, .ui-daterangepicker .ranges, .ui-daterangepicker .range-start, .ui-daterangepicker .range-end {
	float: left;
	padding: 0;
	margin: 0;
}
.ui-daterangepicker .ranges {
	width: auto;
	position: relative;
	padding: 5px 5px 40px 0;
	margin-left: 10px;
}
.ui-daterangepicker .range-start, .ui-daterangepicker .range-end {
	margin-left: 5px;
}
.ui-daterangepicker button.btnDone {
	margin: 0 5px 5px 0;
	position: absolute;
	bottom: 0;
	right: 0;
	clear: both;
	cursor: pointer;
	font-size: 1.1em;
}
.ui-daterangepicker ul.ui-widget-content {
	width: 17.6em;
	background: none;
	border: none;
}
.ui-daterangepicker li {
	list-style: none;
	padding: 1px;
	cursor: pointer;
	margin: 1px 0;
}
.ui-daterangepicker li.ui-state-hover, .ui-daterangepicker li.ui-state-active {
	padding: 0;
}
.ui-daterangepicker li.preset_0 {
	margin-top: 1.5em !important;
}
.ui-daterangepicker .ui-widget-content a {
	text-decoration: none !important;
}
.ui-daterangepicker li a {
	font-weight: normal;
	margin: .3em .5em;
	display: block;
}
.ui-daterangepicker li span {
	float: right;
	margin: .3em .2em;
}
.ui-daterangepicker .title-start, .ui-daterangepicker .title-end {
	display: block;
	margin: 0 0 .2em;
	font-size: 1em;
	padding: 0 4px 2px;
}
.ui-daterangepicker .ui-datepicker-inline {
	font-size: 1em;
}
a.ui-daterangepicker-prev , a.ui-daterangepicker-next  {
    float: left;
    height: 20px;
    outline: 0 none !important;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
}
a.ui-daterangepicker-prev {
    background: url("../images/btn_month_select_prev.gif") no-repeat scroll 0 0 transparent;
}
a.ui-daterangepicker-next {
    background: url("../images/btn_month_select_next.gif") no-repeat scroll 0 0 transparent;
}
a.ui-daterangepicker-prev:hover, a.ui-daterangepicker-next:hover {
    background-position: 0 -20px;
}
.ui-daterangepicker-arrows {
	padding: 0px;
	width: 210px;
	position: relative;
}
.ui-daterangepicker-arrows a.ui-daterangepicker-inputbar {
    background: url("../images/bg_date_picker_select_rt.gif") no-repeat scroll right top transparent;
    color: #444444 !important;
    float: left;
    outline: 0 none !important;
    text-decoration: none;
		display:block;
	}
.ui-daterangepicker-arrows a.ui-daterangepicker-inputbar:hover {
    background-position: right -20px;
} 
.ui-daterangepicker-arrows a.ui-daterangepicker-inputbar:hover  input.ui-rangepicker-input {
    background-position: 0 -20px;
}
.ui-daterangepicker-arrows input.ui-rangepicker-input {
	width: 152px;
	margin: 0px 2px 0px 17px;
	padding: 0px;
	height: 1.1em;
	border:none;
    background: url("../images/bg_date_picker_select.gif") no-repeat scroll left top transparent;
    display: block;
    height: 20px;
    line-height: 2em;
    margin-right: 20px;
    padding-left: 10px !important;
}
.ui-daterangepicker-arrows .ui-daterangepicker-prev, .ui-daterangepicker-arrows .ui-daterangepicker-next {
	position: absolute;

}
.ui-daterangepicker-arrows .ui-daterangepicker-prev {
	left: 2px;
}
.ui-daterangepicker-arrows .ui-daterangepicker-next {
	right: 2px;
}
.ui-daterangepicker-arrows .ui-daterangepicker-prev:hover, 
.ui-daterangepicker-arrows .ui-daterangepicker-next:hover,
.ui-daterangepicker-arrows .ui-daterangepicker-prev:focus, 
.ui-daterangepicker-arrows .ui-daterangepicker-next:focus {
	padding: 0;
}
