#main .icon_list
{
background-image:url(../dashboard/go_list_icon.gif);
width:20px;
height:20px;
display:block;
text-decoration: none;
float:left;
display:block;
}

#main .icon_list:hover{
background-position:0px -20px; 
}

#main .icon_list:active{
background-position:0px -40px; 
}

#main .icon_compose
{
background-image:url(../dashboard/action_icon.gif);
width:26px;
height:26px;
display:block;
text-decoration: none;
float:left;
display:block;
background-position:-26px 0px;
}

#main .icon_compose:hover{
background-position:-26px -26px; 
}

#main .icon_compose:active{
background-position:-26px -52px; 
}



#main .icon_gantt
{
background-image:url(../dashboard/action_icon.gif);
width:26px;
height:26px;
display:block;
text-decoration: none;
float:left;
display:block;
background-position:0px 0px;
}

#main .icon_gantt:hover{
background-position:0px -26px; 
}

#main .icon_gantt:active{
background-position:0px -52px; 
}


#main .widget_control .button_navi
{
	background-image: url("../dashboard/nav_icon.gif");
    background-repeat: no-repeat;
    color: #666666;
    display: block;
    float: left;
    height: 16px;
    line-height: 16px;    
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    margin-right:1px;
    margin-top:2px;
    width: 16px;
}
#main .widget_control .prev_gray{
	background-position:0px -48px;
}
#main .widget_control .prev:hover{
	background-position:0px -16px;
}
#main .widget_control .prev:active{
	background-position:0px -32px;
}
#main .widget_control .next{
	background-position:-16px 0px;
}
#main .widget_control .next_gray{
	background-position:-16px -48px;
}
#main .widget_control .next:hover{
	background-position:-16px -16px;
}
#main .widget_control .next:active{
	background-position:-16px -32px;
}
#main .widget_control .title
{
	width:158px;
	height:30px;
	float:left;
	padding-left:10px;
}
#main .widget_control .title .icon
{
	background-image:url(../dashboard/dashboard_icons.gif);
	width:30px;
	height:30px;
	float:left;	
	display:block;
	margin-right:5px;
}
#main .widget_control .title h2
{
	font-size:14px;
	line-height:14px;
}
#main .widget_control .actions
{
	float:right;
}
#main .widget_control ul,#main .widget_control li
{
	list-style:none outside none;
}
#main .widget_control .autocomplete ul li {
	padding:5px 5px 2px 10px;
}
#main .widget_control .autocomplete ul{
	padding-bottom: 4px;
    padding-left: 3px;
    padding-right: 3px;
}    
#main .widget_table_gray
{
	width:100%;
	height:100%;
	border-top:1px solid #b9b9b9;
	border-bottom:1px solid #b9b9b9;
}
#main .widget_table_bar
{
	width:325px;
	height:20px;
	overflow:hidden;
	padding-right:5px;
	padding-left:10px;
	background-color:#eeeeee;
	line-height:22px;
}
#main .widget_table
{
	width:100%;
	height:220px;
	overflow:hidden;
	/*
	border-top:1px solid #76ceec;
	border-bottom:1px solid #60c7e9;
	*/
	border-top:1px solid #b9b9b9;
	border-bottom:1px solid #b9b9b9;
}
/*
Below code is
Dashboard Panel Layout's
*/

#main .widgets_main
{
	height:286px;

}
#main .widget_big_shadow
{
	height:286px;
	width:370px;
	float:left;	
	overflow:hidden;
}
#main .widget_big_shadow .body{
	background-image:url(../dashboard/widget_big_shadow_bg_body.gif);
	background-repeat:repeat-y;
	height:266px;
}
#main .widget_big_shadow .header
{
	background-image:url(../dashboard/widget_big_shadow_bg_header.gif);
}
#main .widget_big_shadow .footer
{
	background-image:url(../dashboard/widget_big_shadow_bg_footer.gif);
	height:14px;
}

#main .widget_shadow
{
	height:286px;
	width:195px;
	float:left;	
	overflow:hidden;
}
#main .widget_shadow .body{
	background-image:url(../dashboard/widget_shadow_bg_body.gif);	
	background-repeat:repeat-y;
	height:266px;
}
#main .widget_shadow .header
{
	background-image:url(../dashboard/widget_shadow_bg_header.gif);
}
#main .widget_shadow .footer
{
	background-image:url(../dashboard/widget_shadow_bg_footer.gif);
	height:14px;
}

#main .widgets_bottom
{
	padding-top:10px;
	height:226px;
}
#main .widget_big
{
	height:220px;
	width:370px;
	float:left;	
	overflow:hidden;
}
#main .widget_big .body{
	background-image:url(../dashboard/widget_big_bg_body.gif);
	background-repeat:repeat-y;
	height:200px;
}
#main .widget_big .header
{
	background-image:url(../dashboard/widget_big_bg_header.gif);
}
#main .widget_big .footer
{
	background-image:url(../dashboard/widget_big_bg_footer.gif);
}

#main .widget
{
	height:220px;
	width:195px;
	float:left;	
	overflow:hidden;
}
#main .widget .body{
	background-image:url(../dashboard/widget_bg_body.gif);
	background-repeat:repeat-y;
	height:200px;
}
#main .widget .header
{
	background-image:url(../dashboard/widget_bg_header.gif);
}
#main .widget .footer
{
	background-image:url(../dashboard/widget_bg_footer.gif);
}

#main .widgets_small_container
{
	height:228px;
	width:195px;
	float:left;	
	overflow:hidden;	
}

#main .widget_small
{
	height:110px;
	width:195px;
	overflow:hidden;
}
#main .widget_small .body{
	background-image:url(../dashboard/widget_bg_body.gif);
	background-repeat:repeat-y;
	height:84px;
}
#main .widget_small .header
{
	background-image:url(../dashboard/widget_bg_header.gif);
}
#main .widget_small .footer
{
	background-image:url(../dashboard/widget_bg_footer.gif);
}

/*
Below code is for announcement wiget
*/


#main .announcement_widget
{
	height:30px;	
}
#announcement_type_indicator{
width:520px;
height:3px;
margin-left:177px;
margin-top:2px;
display:block;
background-color:#999999;
}
 
#main .announcement_widget .title .icon
{
 	background-position:0px 0px;
} 

#main .announcement_widget .content
{
	float:left;
	height:30px;
	border-left:1px solid #e3e3e3;
	padding-left:15px;

}
#main .announcement_widget .content a{
	line-height:14px;
}

#main .announcement_widget .actions
{
	padding-right:30px;
}


/*
Below code is for bookmark wiget
*/

#main .bookmark_widget .title .icon
{
 	background-position:-180px 0px; 
}
#main ul.bookmark_list
{
	padding-left:5px;
	display:block;
	padding-top:2px;
}
#main .bookmark_list li
{
	float:left;
	margin-right:6px;	
}
#main .bookmark_list li a
{
	border-bottom:3px solid #dddddd;
	width:16px;
	height:16px;
	margin-right:5px;
	margin-bottom:3px;
	display:block;	
}
/*
Below code is for note wiget
*/

#main .note_widget .title .icon
{
 	background-position:-210px 0px; 
}
#main ul.note_list
{
	padding-left:5px;
	display:block;
	padding-top:2px;
}


#main .note_list  a
{
	border-bottom:3px solid #dddddd;
	width:16px;
	height:16px;
	margin-right:5px;
	margin-bottom:1px;
	display:block;	
}
/*
Below code is for document wiget
*/

#main .document_widget .title .icon
{
 	background-position:-150px 0px; 
}
#main ul.document_list
{
	
	display:block;
	width:165px;
}
#main .document_list td
{
	border-bottom:1px solid #dddddd;
}
#main .document_list  a
{
	color:#666666;
	text-decoration: none;
}
#main .document_list  a:hover
{
	color:#333333;
	text-decoration: underline;
}

/*
Below code is for contact wiget
*/

#main .contact_widget .title .icon
{
 	background-position:-120px 0px; 
}
#main .contact_widget .photo_frame {
    background-image: url("../dashboard/profile_photo_bg.gif");
    background-repeat: no-repeat;
    height: 96px;
    overflow: hidden;
    padding: 7px;
    text-align: center;
    width: 69px;
}
#main .contact_widget h4
{
	padding:0px;
	margin:0px;	
	display:block;
	overflow:hidden;
	width:83px;
	height:20px;
}
#main .contact_widget h4 a
{
	color: #666666;
    text-decoration: none;
    padding-left:2px;
    font-weight:normal;
}
#main .contact_widget h4 a:hover
{
	color: #999999;    
}


/*
Below code is for message wiget
*/
#main .message_widget .title .icon
{
 	background-position:-60px 0px; 
}
#main .message_widget .icon_list
{
 	margin-top:3px;
}
 
#main ul.message_list
{
	overflow:hidden;
	display:block;
	width:165px;
}
#main .message_list td
{
	border-bottom:1px solid #dddddd;
}
#main .message_list  a
{
	color:#666666;
	text-decoration: none;
}
#main .message_list  a:hover
{
	color:#333333;
	text-decoration: underline;
}


/*
Below code is for calendar wiget
*/
#main .calendar_widget .title .icon
{
 	background-position:-90px 0px; 
}
#main .calendar_widget .icon_list
{
 	margin-top:3px;
}
 
#main ul.calendar_list
{
	overflow:hidden;
	display:block;
	width:167px;
}
#main .calendar_list td
{
	border-bottom:1px solid #dddddd;
}
#main .calendar_list a
{
	color:#666666;
	text-decoration: none;
}
#main .calendar_list a:hover
{
	color:#333333;
	text-decoration: underline;
}




/*
Below code is for task wiget
*/
#main .task_widget .title .icon
{
 	background-position: -30px 0px; 
}
#main .task_widget .icon_list
{
 	margin-top:3px;
}
#main .task_widget .widget_table a
{
	color:#666666;
	text-decoration: none;
}
#main .task_widget .widget_table a:hover
{
	color:#333333;
	text-decoration: underline;
}
#main .task_widget .form_table 
{
	border-bottom:none;
	border-top:none;
	margin:0px;
}
#main .task_widget .form_table td
{
	height:17px;
	line-height:22px;
	padding-top:4px;
	padding-bottom:2px;
}