.wizard_progress_bar
{
	padding-bottom:10px;
}
.wizard_progress_bar table
{
	width:700px;
}
.wizard_progress_bar table td span
{
	float:left;
	display:block;
}
.wizard_progress_bar .past_step
{
	color:#666666;	
}
.wizard_progress_bar .current_step
{
	color:#149BC8;
	font-weight:bold;	
}
.wizard_progress_bar .future_step
{
	color:#AAAAAA;	
}

/*Navi button styles*/
.button_next_highlight {
    background-image: url("../images/btn_bg.png");
    background-position: -72px top;
    background-repeat: no-repeat;
    color: #efefef;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 3px;
    overflow: hidden;
    text-align: center;
    text-indent:14px;
    text-decoration: none;
    width: 72px;
}
.button_next_highlight:hover {
    background-position: -72px -20px;
    color: #ffffff;
}
.button_next_highlight:active {
    background-position: -72px bottom;
    color: #ffffff;
}

.button_back {
    background-image: url("../images/btn_bg.png");
    background-position: 0px top;
    background-repeat: no-repeat;
    color: #efefef;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 3px;
    overflow: hidden;
    text-align: center;
    text-indent:14px;
    text-decoration: none;
    width: 72px;
}
.button_back:hover {
    background-position: 0px -20px;
    color: #ffffff;
}
.button_back:active {
    background-position: 0px bottom;
    color: #ffffff;
}

.button_cancel {
    background-image: url("../images/btn_bg.png");
    background-position: -144px top;
    background-repeat: no-repeat;
    color: #efefef;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 3px;
    overflow: hidden;
    text-align: center;
    text-indent:16px;
    text-decoration: none;
    width: 72px;
}
.button_cancel:hover {
    background-position: -144px -20px;
    color: #ffffff;
}
.button_cancel:active {
    background-position: -144px bottom;
    color: #ffffff;
}