/* CSS Document */

#main #left_panel .content .appbuilder li img{
	background-image:url(../images/left_menu_icon_appbuilder.png);
}
#main #left_panel .content .appbuilder .icon_appbuilder{
	background-position:left 0px;
}
#main #left_panel .content .appbuilder .icon_metaeditor{
	background-position:left -16px;
}
/* --for hovers */
#main #left_panel .content .appbuilder a:hover .icon_appbuilder,
#main #left_panel .content .appbuilder a.current .icon_appbuilder,
#main #left_panel .content .appbuilder a:active .icon_appbuilder{
	background-position:right -0px;
}
#main #left_panel .content .appbuilder a:hover .icon_metaeditor,
#main #left_panel .content .appbuilder a.current .icon_metaeditor,
#main #left_panel .content .appbuilder a:active .icon_metaeditor{
	background-position:right -16px;
}