<form id="{$form.name}" name="{$form.name}">
<div style="padding-left:25px; padding-right:40px;" class="dashboard_panel">
{include file="system_appbuilder_btn.tpl.html"}
	<div class="dashboard_bg_light">
		<div class="title">{t}User & Group{/t}</div>
		<div class="icons">
			<a href="{$app_index}/system/user_list" class="icon_user">
				<img border="0" src="{$theme_url}/images/spacer.gif" />User</a>
			<a href="{$app_index}/system/role_list" class="icon_role">
				<img border="0" src="{$theme_url}/images/spacer.gif"  />Role</a>
			<a href="{$app_index}/system/group_list" class="icon_group">
				<img border="0" src="{$theme_url}/images/spacer.gif" />Group</a>
			<a href="{$app_index}/system/group_data_sharing" class="icon_datasharing" >
				<img border="0" src="{$theme_url}/images/spacer.gif" />Sharing</a>
		</div>
	</div>
	<div class="dashboard_bg_dark">
		<div class="title">{t}Application{/t}</div>
		<div class="icons">
			<a href="{$app_index}/system/module_list" class="icon_module">
				<img border="0" src="{$theme_url}/images/spacer.gif" />Module</a>
			<a href="{$app_index}/system/update_list" class="icon_update">
				<img border="0" src="{$theme_url}/images/spacer.gif"  />Update</a>
			<a href="{$app_index}/menu/menu_list" class="icon_menu_list">
				<img border="0" src="{$theme_url}/images/spacer.gif" />Menu list</a>
			<a href="{$app_index}/menu/menu_tree" class="icon_menu_tree" >
				<img border="0" src="{$theme_url}/images/spacer.gif" />Menu tree</a>
			<a href="{$app_index}/system/module_change_log" class="icon_changelog" >
				<img border="0" src="{$theme_url}/images/spacer.gif" />ChangeLog</a>
		</div>
	</div>
	<div class="dashboard_bg_light">
		<div class="title">{t}Email{/t}</div>
		<div class="icons">
			<a href="{$app_index}/email/email_queue_list" class="icon_mail_queue">
				<img border="0" src="{$theme_url}/images/spacer.gif" />Queue</a>
			<a href="{$app_index}/email/email_log_list" class="icon_mail_sentlog">
				<img border="0" src="{$theme_url}/images/spacer.gif"  />Sent Log</a>
			<a href="{$app_index}/email/email_setting_list" class="icon_mail_account">
				<img border="0" src="{$theme_url}/images/spacer.gif" />Account</a>
			<a href="{$app_index}/email/email_template_list" class="icon_mail_template" >
				<img border="0" src="{$theme_url}/images/spacer.gif" />Template</a>			
		</div>
	</div>
	<div class="dashboard_bg_dark">
		<div class="title">{t}System{/t}</div>
		<div class="icons">		
			<a href="{$app_index}/system/user_preference" class="icon_preference">
				<img border="0" src="{$theme_url}/images/spacer.gif" />Preference</a>
			<a href="{$app_index}/system/database_list" class="icon_database">
				<img border="0" src="{$theme_url}/images/spacer.gif" />Database</a>
			<a href="{$app_index}/backup/backup_list" class="icon_backup">
				<img border="0" src="{$theme_url}/images/spacer.gif"  />Backup</a>
			<a href="{$app_index}/email/email_log_list" class="icon_update">
				<img border="0" src="{$theme_url}/images/spacer.gif"  />Update</a>		
			<a href="{$app_index}/websvc/websvc_list" class="icon_webservice">
				<img border="0" src="{$theme_url}/images/spacer.gif"  />WebService</a>	
		</div>
	</div>
	<div class="dashboard_bg_light">
		<div class="title">{t}Advanced Feature{/t}</div>
		<div class="icons">		
			<a href="{$app_index}/cache/manage" class="icon_cache">
				<img border="0" src="{$theme_url}/images/spacer.gif" />Cache</a>
			<a href="{$app_index}/cronjob/cronjob_list" class="icon_cronjob">
				<img border="0" src="{$theme_url}/images/spacer.gif" />Cronjob</a>
			<a href="{$app_index}/security/security_rule" class="icon_security">
				<img border="0" src="{$theme_url}/images/spacer.gif"  />Security</a>
				
		</div>
	</div>	
	<div class="dashboard_bg_dark">
		<div class="title">{t}Misc{/t}</div>
		<div class="icons">		
			<a href="{$app_index}/help/help_category" class="icon_helpcategory">
				<img border="0" src="{$theme_url}/images/spacer.gif" />HelpCategory</a>
			<a href="{$app_index}/help/help_list" class="icon_helptips">
				<img border="0" src="{$theme_url}/images/spacer.gif" />Help Tips</a>
			<a href="{$app_index}/theme/manage_theme" class="icon_theme">
				<img border="0" src="{$theme_url}/images/spacer.gif"  />Theme</a>
			<a href="{$app_index}/translation/manage_translation" class="icon_translation">
				<img border="0" src="{$theme_url}/images/spacer.gif"  />Translation</a>	
			<a href="{$app_index}/translation/manage_language" class="icon_language">
				<img border="0" src="{$theme_url}/images/spacer.gif"  />Language</a>			
		</div>
	</div>
</div>
</form>		