#framework-intro-banner-wrapper
{
	background-image: url("../../framework/image/architecture/architecture-banner_bg.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 340px;
}
#framework-architecture-banner-wrapper{	
 	height:340px;
    background-image: none;
    background-position: left 50px;
    background-repeat: no-repeat;
    width:880px;
    margin-left:auto;
    margin-right:auto; 	
}
#framework-architecture-banner-wrapper .desc
{
	padding-left:565px;
	padding-top:30px;
}
.content ul.subtitle{
	padding-bottom:20px;
}
.content ul.subtitle li{
	list-style:none;
	padding-left:20px;
	padding-bottom:5px;
	background-image:url(../../../general/image/widget/blue-dot.png);
	background-position: 0px 5px;
	background-repeat: no-repeat;
}
.content ul.subtitle li.non-background{
	background-image:none;
}
.content table.code-structure{
	padding:10px 0px 10px 50px;
	background-color:#eeeeee;
	width:100%;
}
.content table.code-structure tr td{
	padding:0px 0px 0px 0px;
}