#framework-intro-banner-wrapper
{
	background-image: url("../../general/image/developer-banner_bg.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 340px;
}
#framework-dalayer-banner-wrapper{	
 	height:340px;
    background-image: url("../../framework/image/dalayer/banner_bg.png");
    background-position: left 75px;
    background-repeat: no-repeat;
    width:880px;
    margin-left:auto;
    margin-right:auto; 	
}
#framework-dalayer-banner-wrapper .desc
{
	padding-left:565px;
	padding-top:30px;
}
.content p.se-blue-dot{
	background-image:url("../../../general/image/widget/blue-dot.png");
	background-position: left center ;
    background-repeat: no-repeat;
    padding:0px 0px 0px 20px; 
}
.content ul.three-se li{
	list-style:none;
	padding-left:20px;
	background-image:url("../../../general/image/widget/blue-dot.png");
	background-position: left center ;
    background-repeat: no-repeat;
}
.content table.se-table{
	padding:20px 0px 20px 0px;
	width:860px;
}
.content table.se-table tr{
	padding:0px 0px 0px 0px;
}
.content table.se-table tr td{
	padding:10px 0px 0px 0px;
	width:33%;
}
.content table.se-table tr td.odd{
	background-color:#e3e3e3;
}
.content table.se-table tr th{
	background-color:#757575;
}
.content p.gray-background{
	background-color:#e3e3e3;
	padding:5px 0px 5px 20px;
}