.framework-logo-gray{
width:135px;
height:30px;
display:block;
background-image: url("../image/framework-logo-gray.png");
background-position: left bottom;
background-repeat: no-repeat;
}
.content p
{
padding-bottom:10px;
line-height:20px;
}
#framework-banner-wrapper
{
	background-image: url("../../general/image/developer-banner_bg.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 350px;
}

.content table.table-2-columns{
	padding-top:10px;
}
.content table.table-2-columns td,.content table.table-2-columns th{
	padding:0px;
	vertical-align: middle;
	padding-bottom:10px;
}
.content table.table-2-columns td{
	padding-left:15px;
}
.content table.table-2-columns th img{
	border: 2px solid #eeeeee;
	border-radius:8px;
}
.content table.table-2-columns td p{
	line-height:22px;
	padding-right:40px;
}