#framework-intro-banner-wrapper
{
	background-image: url("../../general/image/developer-banner_bg.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 340px;
}
#framework-introduction-banner-wrapper{	
 	height:340px;
    background-image: url("../../framework/image/introduction/banner_bg.png");
    background-position: 30px 65px;
    background-repeat: no-repeat;
    width:880px;
    margin-left:auto;
    margin-right:auto; 	
}
#framework-introduction-banner-wrapper .desc
{
	padding-left:575px;
	padding-top:10px;
}
.testimonials p{
padding-top:10px;
padding-bottom:10px;
background-image:url(../../../general/image/widget/icon-quote.png);
background-position: 0px 5px;
background-repeat: no-repeat;
text-indent:30px;
}