#framework-intro-banner-wrapper
{
	background-image: url("../../general/image/developer-banner_bg.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 340px;
}
#framework-mo-banner-wrapper{	
 	height:330px;
    background-image: url("../../framework/image/mo/banner_bg.png");
    background-position: left 50px;
    background-repeat: no-repeat;
    width:880px;
    margin-left:auto;
    margin-right:auto; 	
}
#framework-mo-banner-wrapper .desc
{
	padding-left:565px;
	padding-top:30px;
}
.content table.mo-code{
	padding:0px 0px 0px 0px;
	width:800px;
}
.content table.mo-code tr, 
.content table.mo-code tr td{
	padding:0px 0px 0px 0px;
}
.content table.mo-code tr td{
	background-image:url("../../../general/image/widget/blue-dot.png");
	background-position: left center ;
    background-repeat: no-repeat;
    padding-left:20px;
}