<form id="{$form.name}" name="{$form.name}">
{literal}
<script>
function showError(){
	msgbox = document.getElementById('notice_msg');
	errbox = document.getElementById('detailed_error_msg');
	spacer = document.getElementById('form_top_spacer');
	if(msgbox.style.display=='block'){
		msgbox.style.display='none';
		errbox.style.display='block';
		spacer.style.height='45px';
	}else{
		msgbox.style.display='block';
		errbox.style.display='none';
		spacer.style.height='65px';
	}
}
</script>
{/literal}
<div style="float:left; width:110px; height:400px;">
</div>
<div style="float:left; width:620px; height:400px;">
	<div id="form_top_spacer" style="height:65px;"></div>
	<div style="height:35px;">
		<div style="float:left; width:50px;"><img src="{$image_url}/icon_forbidden.gif" /></div>
		<div style="float:left"><h1>{$form.title}</h1></div>
	</div>
	<div style="height:20px;"></div>
		<div id="notice_msg" style="display:block;">
		
		{if $notices.status !='REPORTED'}
		<p class="input_row" style="height:125px; line-height:20px;">
		<label style="width:40px; height:125px;"></label>
		<span>{t}
Sorry, our system is encountered an unexpected internal errors . 
Please REPORT the problem to our system administrator by clicking the below button, 
Our support team will try to solve the problem as soon as possible.

We are sorry for any inconvenience.
{/t}</span></p>
		{else}
		<p class="input_row" style="height:105px; line-height:20px;">
		<label style="width:40px; height:105px;"></label>
		<span>{t}
Thank you for reporting the problem.
Our support team will try to solve the problem as soon as possible.

We are sorry for any inconvenience.
{/t}</span></p>
		{/if}

		</div>
		
		<div id="detailed_error_msg" style="display:none">
		<p class="input_row" style="height:25px; line-height:20px;">
		<label style="width:40px; height:25px;"></label>
		<span>{t}The detailed error message are below:{/t}</span>		
		</p>
		<div style="height:170px;">
			<div style="width:50px; height:20px; float:left"></div>
			<div class="system_error_msg">
				<div style="width:440px; padding:10px 20px 10px 20px;">{$errors.system}</div>
		
			</div>
		</div>
		</div>
				
		<div style="height:10px;"></div>
		<p class="input_row">
			<label style="width:40px; text-align:right"></label>
			{if $notices.status !='REPORTED'}
			{$actionPanel.btn_report.element} {$actionPanel.btn_showerr.element}
			{else}
			{$actionPanel.btn_back.element}
			{/if}
		</p>
</div>
</form>