<form id="{$form.name}" name="{$form.name}">
<style>
{literal}
.license_form{
padding-left:100px;
padding-top:50px;
height:340px;
background-repeat:no-repeat;
background-position:510px 105px;
}
.license_form .preview{
float:right;
margin-right:80px;
margin-top:20px;
}
.license_form h1{
font-size:20px;
line-height:20px;
display:block;
font-weight:normal;
padding-top:10px;
padding-bottom:10px;
}
.license_form .label{
color:#14A8F1;
line-height:30px;
}
.license_form .eula{
height:60px;
padding-top:15px;

width:400px;
}
.license_form .active_logic label{
float:none;
}
.license_form .active_logic label strong{
color:#ff0000;
}
.license_form .upline
{
background-image:url({/literal}{$resource_url}{literal}/common/images/h_line_short.png);
background-repeat:no-repeat;
background-position:0px 10px;
}
.license_form .hint
{
color:#999999;
height:25px;
font-style:italic;
}
.license_form .purchase-block
{
float:right;
padding-right:80px;
padding-left:50px;
width:200px;
height:200px;
background-image:url({/literal}{$resource_url}{literal}/common/images/license_bg_arrow.png);
background-repeat:no-repeat;
background-position:0px 60px;;
}
.lic_code{
width:310px;
height:100px;
border:1px solid #cccccc;
padding:10px;
color:#666666;
font-size:10pt;
}
{/literal}
</style>
<div class="license_form" >
	<a href="{$form.appInfo.APP_WEBSITE}"><img src="{$form.appInfo.APP_LOGO}" style="display:block;padding-bottom:10px;" border="0" /></a>
	<div class="purchase-block">
		<a href="{$form.appInfo.APP_WEBSITE}"><img src="{$form.appInfo.APP_PREVIEW}" style="display:block;padding-bottom:10px;" border="0" /></a>
	</div>
	<h1>{$form.title}</h1>
	<div>{$form.description}</div>
	<div class="active_logic">
		<div>{$dataPanel.fld_license_code.element}</div>
	</div>
	<div class="hint">{t}The license code should include ------ LICENSE FILE DATA ------- {/t}</div>
	
	<div style="padding-top:5px;">
			{foreach item=elem from=$actionPanel}
				{$elem.element}
			{/foreach}
	</div>
</div>
</form>
