<form id="{$form.name}" name="{$form.name}">
<div style="float:left; width:120px; height:400px;">
</div>

<div style="float:left; width:620px; height:400px;">
	<div style="height:75px;"></div>
	<div style="height:35px;">
		<div style="float:left; width:50px;"><img src="{$image_url}/icon_info.gif" /></div>
		<div style="float:left"><h1>{$form.title}</h1></div>
	</div>
	<div style="height:20px;"></div>
		<p class="input_row" style="height:90px; line-height:20px;">
		<label style="width:40px; height:90px;"></label>
		<span>{t}
The application you are running is protected by a license, 
But the license installed for this application is invaild

{/t}
{if $form.license_message}
{t}License error message below:{/t}
</span></p>
<div style="padding-left:48px;padding-bottom:15px;">
	<span style="border:1px solid #cccccc;display:block;width:420px;padding:5px 10px 5px 10px;background-color:#f0f0f0;">{$form.license_message}</span>
</div>
{/if}
		<div style="height:10px;"></div>
		<p class="input_row">
			<label style="width:40px; text-align:right"></label>
			{foreach item=elem from=$actionPanel}
				{$elem.element}
			{/foreach}
		</p>
</div>
</form>