<form id="{$form.name}" name="{$form.name}">
<div style="float:left; width:110px; height:400px;">
</div>
<div style="float:left; width:620px; height:400px;">
	<div style="height:75px;"></div>
	<div style="height:35px;">
		<div style="float:left; width:50px;"><img src="{$image_url}/icon_no_access.gif" /></div>
		<div style="float:left"><h1>{$form.title}</h1></div>
	</div>
	<div style="height:20px;"></div>
    <p class="input_row" style="height:110px; line-height:20px;">
		<label style="width:40px; height:100px;"></label>
		<span>{t}
Sorry, you stay idle on current page for too long. Your web session is timed out. 
To keep operating on the current page, please relogin the system.

We are sorry for any inconvenience.
{/t}</span>
    </p>

    <div style="height:10px;"></div>
    <p class="input_row">
        <label style="width:40px; text-align:right"></label>
        {foreach item=elem from=$actionPanel}
            {$elem.element}
        {/foreach}
    </p>
</div>
</form>