body, html{
    border: medium none;
    margin: 0;
    padding: 0;
    color: #666666;
    font-family: "华文细黑","Arial";
    font-size: 12px;
    background-color:#eeeeee;    
    line-height:18px;
    -webkit-text-size-adjust:none;
}
ul, li, img, body, h1, h2, h3, h4, h5, h6, h7, p, div,dl,dd,dt,pre {
    border: none;
    margin: 0;
    padding: 0;
    font-weight:normal;
    -webkit-text-size-adjust:none;
}
a {
    text-decoration: none;
    color:#14b3f0;
}
h1, h2, h3, h4, h5, h6, h7{
color:#00aeef;
font-weight:normal;
}
td,th{vertical-align:top;}
strong{
padding-left:3px;
padding-right:3px;
color:#05baff;
font-weight:normal;
}
.underline{
border-bottom:1px solid #eeeeee;
display:block;
padding-bottom:10px;
margin-bottom:10px;
}

/*oauth icons START*/
.oauth_bar a {
    background-image: url("../image/widget/social_provider_icons.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin-right: 0;
}


a#oauth_sina {
    background-position: 0 0;
    height: 24px;
    width: 24px;
}
a#oauth_sina:hover {
    background-position: 0 -24px;
}
a#oauth_sina:active {
    background-position: 0 -48px;
}
a#oauth_qq {
    background-position: -24px 0;
    height: 24px;
    width: 24px;
}
a#oauth_qq:hover {
    background-position: -24px -24px;
}
a#oauth_qq:active {
    background-position: -24px -48px;
}
a#oauth_facebook {
    background-position: -48px 0;
    height: 24px;
    width: 24px;
}
a#oauth_facebook:hover {
    background-position: -48px -24px;
}
a#oauth_facebook:active {
    background-position: -48px -48px;
}
a#oauth_google {
    background-position: -72px 0;
    height: 24px;
    width: 24px;
}
a#oauth_google:hover {
    background-position: -72px -24px;
}
a#oauth_google:active {
    background-position: -72px -48px;
}
a#oauth_alipay {
    background-position: -96px 0;
    height: 24px;
    width: 24px;
}
a#oauth_alipay:hover {
    background-position: -96px -24px;
}
a#oauth_alipay:active {
    background-position: -96px -48px;
}
a#oauth_qzone {
    background-position: -120px 0;
    height: 24px;
    width: 24px;
}
a#oauth_qzone:hover {
    background-position: -120px -24px;
}
a#oauth_qzone:active {
    background-position: -120px -48px;
}
a#oauth_twitter {
    background-position: -144px 0;
    height: 24px;
    width: 24px;
}
a#oauth_twitter:hover {
    background-position: -144px -24px;
}
a#oauth_twitter:active {
    background-position: -144px -48px;
}
a#oauth_openbiz {
    background-image: url("../image/widget/icon-openbizid.png");
    background-repeat: no-repeat;
    background-position: 6px 1px;	
    padding-left:31px;
    padding-right:6px;
    color:#efefef;
    display:block;
    height: 22px;
}
a#oauth_openbiz:hover {
	color:#ffffff;
	background-color:#0088c6;
}
a#oauth_openbiz:active {
	color:#eeeeee;
}
/*oauth icon END*/

.blue-button-go{
	width:78px;
	height:27px;
	display:block;
	line-height:26px;
	padding-right:20px;
	text-align:center;
	background-position:left top;
	background-repeat:no-repeat;
	background-image:url(../image/widget/blue-button-go_bg.png);
	color:#ffffff;
}
.blue-button-go:hover{
	background-position:left -27px;;
}
.blue-button-go:active{
	background-position:left -54px;
}

.gray-button-buy{
	width:50px;
	height:20px;
	display:block;
	line-height:20px;	
	text-align:center;
	padding-left:20px;
	background-position:0px 0px;
	background-repeat:no-repeat;
	background-image:url(../image/widget/gray-button_bg.png);
	color:#666666;
}
.gray-button-buy:hover{
	background-position:0px -20px;;
}
.gray-button-buy:active{
	background-position:0px -40px;
}
.gray-button{
	width:80px;
	height:27px;
	display:block;
	line-height:26px;	
	text-align:center;
	background-position:left top;
	background-repeat:no-repeat;
	background-image:url(../image/widget/gray-button-more_bg.png);
	color:#ffffff;
}
.gray-button:hover{
	background-position:left -27px;;
}
.gray-button:active{
	background-position:left -54px;
}
.blue-button-more{
	width:70px;
	height:20px;
	display:block;
	line-height:20px;	
	text-align:center;
	background-position:0px 0px;
	background-repeat:no-repeat;
	background-image:url(../image/widget/blue-button-more_bg.png);
	color:#ffffff;
}
.blue-button-more:hover{
	background-position:0px -20px;;
}
.blue-button-more:active{
	background-position:0px -40px;
}
.blue-button-more-small{
	width:54px;
	height:20px;
	display:block;
	line-height:20px;	
	text-align:center;
	background-position:0px 0px;
	background-repeat:no-repeat;
	background-image:url(../image/widget/blue-button-more-small_bg.png);
	color:#ffffff;
}
.blue-button-more-small:hover{
	background-position:0px -20px;;
}
.blue-button-more-small:active{
	background-position:0px -40px;
}
.gray-button-small{
	width:44px;
	height:20px;
	display:block;
	line-height:20px;	
	text-align:center;
	background-position:-70px 0px;
	background-repeat:no-repeat;
	background-image:url(../image/widget/gray-button_bg.png);
	color:#666666;
}
.gray-button-small:hover{
	background-position:-70px -20px;;
}
.gray-button-small:active{
	background-position:-70px -40px;
}

.input-text{
	margin:0px;
	padding:0px;
	width:120px;
	height:20px;
	font-size:12px;
	border:1px solid #cccccc;
	border-radius:4px;
	padding-left:10px;
	padding-right:10px;
	color:#999999;
	background-image:url(../image/widget/input-text_bg.png);
	background-position:0px 0px;
	background-repeat:repeat-x;	
}
.input-text:focus{
	color:#333333;
	border:1px solid #009ceb;
	background-color:#f5fcff;
	background-position:0px -30px;
}
.input-text-error{
	margin:0px;
	padding:0px;
	width:120px;
	height:20px;
	font-size:12px;
	border:1px solid #ff0000;
	border-radius:4px;
	padding-left:10px;
	padding-right:10px;
	color:#ff0000;
	background-image:url(../image/widget/input-text_bg.png);
	background-position:0px -60px;
	background-repeat:repeat-x;	
}


#site-page-wrapper {
    background-image: url("../image/site-page-wrapper_bg.png");
    background-position: left top;
    background-repeat: repeat-x;
    border-top:0px solid #009cec;   
    padding-top:6px; 
    background-color:#ffffff;
}
#site-page-content
{
	margin-left:auto;
	margin-right:auto;
	width:880px;	
	text-align:left;
	padding-bottom:5px;
}
.site-page-content
{
	margin-left:auto;
	margin-right:auto;
	width:880px;	
	text-align:left;
}
.content h2{
	padding-top:20px;
	padding-bottom:10px;
}
.content h3{
	padding-top:5px;
	padding-bottom:5px;
	display:block;
	color:#14b3f0;
}
.content h4{
	padding-top:5px;
	padding-bottom:5px;
	color:#333333;
}
.content table{
	padding-left:0px;
	padding-right:40px;
	padding-bottom:20px;
	line-height:20px;
}
.read_more{
	color:#097199;
}
.content table th{
	width:60px;
	color:#14b3f0;
	vertical-align:top;
	padding-top:5px;
	padding-bottom:5px;
	font-weight:normal;
}
.content table td{
	vertical-align:top;
	padding-top:5px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
}
.content table .odd td{
	background-color:#f9f9f9;
}

.content-block
{
border-radius:4px;
border:1px solid #dddddd;
padding:20px;
background-image:url(../image/content-block_bg.png);
background-repeat:repeat-x;
background-position:left top;                  
}
.content-block h2
{
color:#666666;
font-size:14px;
display:block;
}
/* site header styles --- START --- */
#site-header {
	margin-left:auto;
	margin-right:auto;
	width:880px;
	text-align:left;
	
}
#site-header .top-header {
	height:72px;
}

#site-header .top-header .login-widget{
	line-height:24px;
	width:385px;
	height:25px;
	padding-bottom:2px;
	color:#ffffff;
	position:absolute;
	margin-top:-5px;
	margin-left:450px;
	background-image: url("../image/site-header-login-widget_bg.png");
	background-position: left bottom;
    background-repeat: no-repeat;
    text-align:center;
}
#site-header .top-header .login-widget  a {
	 opacity:0.6;
}
#site-header .top-header .login-widget  a:hover {
	 opacity:1;
}
#site-header .top-header .login-widget .spacer{

	background-image: url("../image/site-header-login-widget_spacer.png");
	background-position: left 2px;
    background-repeat: no-repeat;	
}
#site-header .top-header .login-widget .user_displayname{
	width:185px;
	float:left;
	text-align:left;
	color:#efefef;
	overflow:hidden;
}

#site-header .top-header .logo{
	width:200px;
	float:left;
}
#site-header .top-header .logo a{
    background-image: url("../image/site-header-logo.png");
    background-position: left top;
    background-repeat: repeat-x;
    display:block;
    width:134px;
    height:67px;
    
}

#site-header .top-header .menu{
	
	display:block;
	float:left;
	padding-left:30px;
	width:650px;
}
#site-header .top-header .menu ul{
	width:680px;
	display:block;
	height:70px;
	background-image: url("../image/site-top-header-menu-li_bg.png");
    background-position: left bottom;
    background-repeat: no-repeat;
}
#site-header .top-header .menu ul li{
	display:block;
	float:left;
	height:70px;	
	background-image: url("../image/site-top-header-menu-li_bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
}
#site-header .top-header .menu ul li a{
	display:block;
	padding-left:28px;
	padding-right:28px;
	padding-top:38px;
	padding-bottom:10px;
	color:#666666;
	border-bottom:none;
}
#site-header .top-header .menu ul li a:hover{
	padding-bottom:10px;
	border-bottom:3px solid #cccccc;
	color:#333333;
	background-image: url("../image/site-top-header-menu-li_bg_hover.png");	
	background-position: right bottom;
    background-repeat: repeat-x;
}
#site-header .top-header .menu ul li a:active{
	padding-bottom:10px;
	border-bottom:3px solid #92d2ea;
	color:#65b2d0;
	background-image: url("../image/site-top-header-menu-li_bg_hover.png");	
	background-position: right bottom;
    background-repeat: repeat-x;
}
#site-header .top-header .menu ul li a.current{
	color:#2674be;
	padding-left:28px;
	padding-right:28px;
	padding-top:38px;
	padding-bottom:10px;	
	border-bottom:3px solid #00aef0;
}
/* site header styles --- END --- */

/* site navigation styles --- START --- */
#site-secondary-navigation-wrapper{
	width:880px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
#site-secondary-navigation{
	position:absolute;
	text-align:right;
	width:880px;
	height:30px;
	margin-left:auto;
	margin-right:auto;
}
#site-secondary-navigation .product-logo{
	float:left;
}

#site-secondary-navigation ul{
	text-align:right;
	padding-top:10px;
	width:880px;
}
#site-secondary-navigation ul li{
	list-style:none;
	display:inline;
	padding-left:10px;
	padding-right:10px;
	line-height:20px;
	border-right:1px solid #eeeeee;
}
#site-secondary-navigation ul li a{
	color:#AAAAAA;
}
#site-secondary-navigation ul li a:hover{
	color:#666666;
}
#site-secondary-navigation ul li a.current{
	color:#14b3f0;
}
/* site navigation styles --- END --- */

/* site footer styles --- START --- */
#site-footer-wrapper {
	padding-top:9px;
    background-image:url("../image/site-footer-wrapper_bg.png");
    background-position: left top;
    background-repeat: repeat-x;
    background-color:#eeeeee;
    
}
#site-footer
{
	margin-left:auto;
	margin-right:auto;
	width:880px;
	text-align:left;	
}
#site-footer .sitemap
{
	width:880px;
}

#site-footer .sitemap .menu
{
	padding-top:20px;
}
#site-footer .sitemap .menu ul 
{	
	/*height:230px;*/
	width:880px;
	display:block;
    background-image: url("../image/site-footer-menu-li_bg.png");
    background-position: right -30px;
    background-repeat: no-repeat;		
	
}
#site-footer .sitemap .menu ul a
{
	color:#666666;
}
#site-footer .sitemap .menu ul li 
{	
	display:block;
	float:left;
	padding-left:20px;
	padding-right:15px;
    background-image: url("../image/site-footer-menu-li_bg.png");
    background-position: 0px -30px;
    background-repeat: no-repeat;	
    /*height:200px;*/
}
#site-footer .sitemap .menu ul li ul
{
	height:auto;
	width:auto;
	background-image:none;
	padding-top:10px;
}
#site-footer .sitemap .menu ul li ul li 
{	
	background-image:none;
	padding-left:0px;
	display:block;
	float:none;
	padding-bottom:10px;
	height:auto;
	list-style:none;
}
#site-footer .sitemap .menu ul li ul li.spacer
{
	border-top:1px solid #cccccc;
}
#site-footer .sitemap .menu ul li ul li a
{
	color:#999999;
	padding-left:0px;
	display:block;
}
#site-footer .sitemap .menu ul li ul li a:hover
{
	color:#757575;
}
/*footer product icons*/
#site-footer .sitemap .menu ul li ul li a.calendar
{
	background-image: url("../image/site-footer-product-logo.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
	padding-left:33px;	
}
#site-footer .sitemap .menu ul li ul li a.calendar:hover
{	
    background-position: 0px -50px;   
}

#site-footer .sitemap .menu ul li ul li a.project
{
	background-image: url("../image/site-footer-product-logo.png");
    background-position: -200px 0px;
    background-repeat: no-repeat;
	padding-left:33px;	
}
#site-footer .sitemap .menu ul li ul li a.project:hover
{	
    background-position: -200px -50px;   
}

#site-footer .sitemap .menu ul li ul li a.asset
{
	background-image: url("../image/site-footer-product-logo.png");
    background-position: -400px 0px;
    background-repeat: no-repeat;
	padding-left:33px;	
}
#site-footer .sitemap .menu ul li ul li a.asset:hover
{	
    background-position: -400px -50px;   
}

#site-footer .sitemap .menu ul li ul li a.collaboration
{
	background-image: url("../image/site-footer-product-logo.png");
    background-position: -600px 0px;
    background-repeat: no-repeat;
	padding-left:33px;	
}
#site-footer .sitemap .menu ul li ul li a.collaboration:hover
{	
    background-position: -600px -50px;   
}

#site-footer .sitemap .menu ul li ul li a.appbuilder
{
	background-image: url("../image/site-footer-product-logo.png");
    background-position: -800px 0px;
    background-repeat: no-repeat;
	padding-left:30px;	
}
#site-footer .sitemap .menu ul li ul li a.appbuilder:hover
{	
    background-position: -800px -50px;   
}

#site-footer .sitemap .menu ul li ul li a.cubi
{
	background-image: url("../image/site-footer-product-logo.png");
    background-position: -1000px 0px;
    background-repeat: no-repeat;
	padding-left:30px;	
}
#site-footer .sitemap .menu ul li ul li a.cubi:hover
{	
    background-position: -1000px -50px;   
}

#site-footer .sitemap .menu ul li ul li a.framework
{
	background-image: url("../image/site-footer-product-logo.png");
    background-position: -1200px 0px;
    background-repeat: no-repeat;
	padding-left:30px;	
}
#site-footer .sitemap .menu ul li ul li a.framework:hover
{	
    background-position: -1200px -50px;   
}
#site-footer .sitemap .menu ul li ul li a.appcloud
{
	background-image: url("../image/site-footer-product-logo.png");
    background-position: -1400px 0px;
    background-repeat: no-repeat;
	padding-left:30px;	
}
#site-footer .sitemap .menu ul li ul li a.appcloud:hover
{	
    background-position: -1400px -50px;   
}
#site-footer .sitemap .menu ul li ul li a.certification
{
	background-image: url("../image/site-footer-product-logo.png");
    background-position: -1600px -3px;
    background-repeat: no-repeat;
	padding-left:30px;	
}
#site-footer .sitemap .menu ul li ul li a.certification:hover
{	
    background-position: -1600px -53px;   
}


#site-footer .information{
	/*height:100px;*/
}

#site-footer  .logo
{
	float:left;
	padding-top:5px;
}
#site-footer  .logo a
{
    background-image: url("../image/site-footer-logo.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    display:block;	
	float:left;
	width:80px;
	height:80px;
}
#site-footer .copyright
{
	float:left;
	padding-top:10px;
	padding-left:20px;
}
/* site footer styles --- END --- */


/* site default banner --- START --- */

#site-default-banner-wrapper{
 	height:420px;
    background-image: url("../image/site-default-banner_bg.png");
    background-position: center 140px;
    background-repeat: no-repeat; 	
    min-width:880px;
    margin-left:auto;
    margin-right:auto;
}

#site-default-banner{
	width:880px;	
	height:400px;
    background-image: url("../image/site-default-banner-map_bg.png");
    background-position: center 20px;
    background-repeat: no-repeat; 	
	text-align:left;
}
#site-default-banner h1{
	font-size:40px;
	line-height:26px;
	text-align:center;
	padding-top:140px;
	padding-bottom:30px;
}
#site-default-banner p{
	margin-left:auto;
	margin-right:auto;
	width:500px;
	line-height:20px;
	text-align:center;
	
}
#site-default-banner .contact-us
{
    background-image: url("../../about/image/contact-phone-400.png");
    background-position: left top;
    background-repeat: no-repeat; 
    width:258px;
    height:36px;	
    text-align:left;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
}
.follow-us-wrapper{
min-width:880px;margin-left:auto;margin-right:auto;
}
table.follow-us{
width:650px;
margin-left:auto;
margin-right:auto;
padding-top:10px;
padding-bottom:10px;
}
table.follow-us p{
text-align:left;
padding-top:4px;
color:#999999;
}
.social{
height:50px;
width:200px;
}
.social a{
    display: block;
    float: left;
    height: 42px;
    width: 42px;
    margin-right:5px;
}
.icon_facebook{
    background-image: url("../image/widget/icon-social-networks.png");
}
.icon_facebook:hover {
    background-position: left -42px;
}
.icon_facebook:active {
    background-position: left -84px;
}
.icon_sina {
	background-image: url("../image/widget/icon-social-networks.png");
    background-position: -42px top;
}
.icon_sina:hover {
    background-position: -42px -42px;
}
.icon_sina:active {
    background-position: -42px -84px;
}
.icon_twitter {
    background-image: url("../image/widget/icon-social-networks.png");
    background-position: -84px top;
}
.icon_twitter:hover {
    background-position: -84px -42px;
}
.icon_twitter:active {
    background-position: -84px -84px;
}
.icon_google {
    background-image: url("../image/widget/icon-social-networks.png");
    background-position: -126px top;
}
.icon_google:hover {
    background-position: -126px -42px;
}
.icon_google:active {
    background-position: -126px -84px;
}
/* site default banner --- END --- */



/* site shared element styles --- START --- */

.page-splitter{
	height:5px;
    background-image: url("../image/site-page-splitter.png");
    background-position: center 2px;
    background-repeat: no-repeat;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:880px;
}

/* site shared element --- END --- */
.player h1{
color:#333333;
display:block;
height:30px;
line-height:30px;
padding-bottom:5px;
}
.player .buttons {
padding-top:10px;
height:30px;
}
.player .buttons a{
float:left;
margin-right:10px;
}