<form id='{$form.name}' name='{$form.name}'>
{literal}
<style>
#main #right_panel .content table.input_row td .label_text{
width:350px;
}
.action_panel{
width:290px;
}
.search_panel{
width:410px;
}
.search_panel select{
float:left;
margin-right:5px;
}
.barcode_table {
border:1px solid #dddddd;
width:698px;
}

.barcode_table img{
padding:6px;
}
</style>
{/literal}
<div style="padding-left:25px;padding-right:40px;">
	<div>
{include file="system_appbuilder_btn.tpl.html"}
	<table><tr><td>
		{if $form.icon !='' }
		<div class="form_icon"><img  src="{$form.icon}" border="0" /></div>
		{/if}
		<div style="float:left; width:600px;">
		<h2>
		{$form.title}
		</h2> 
		<p class="form_desc">{$form.description}</p>
		</div>
	</td></tr></table>
	</div>
{if  $actionPanel }	
	<div class="form_header_panel">	
		<div class="action_panel"  style="width:290px;">
		<span style="float:left;padding-left:10px; padding-right:10px;">{$navPanel.pagesize_selector.label}</span>
		{$navPanel.pagesize_selector.element}

		{$searchPanel.btn_spacer.element}
		
		{foreach item=elem from=$actionPanel}
		    	{$elem.element}
		{/foreach}


		</div>
		<div class="search_panel" style="width:400px;">
		{foreach item=elem key=name from=$searchPanel}
			{if $name!='btn_spacer' }
				{if $elem.label} {$elem.label} {/if} 
				{$elem.element}
			{/if}
		{/foreach}
		</div>		
	</div>	
{/if}	


<div class="from_table_container">
<!-- table start -->
<table border="0" cellpadding="0" cellspacing="0" class="barcode_table" id="{$form.name}_data_table">
<tr>
<td>
     {assign var=row_counter value=0}            
     {foreach item=row from=$dataPanel.data}
     	{foreach item=cell key=cell_name from=$row}
     	{$cell}
     	{/foreach}
     {/foreach}
</td>
</tr>
</table>

</div>
<!-- status switch  -->
<script>
{if $form.status eq 'Enabled'}
{elseif $form.status eq 'Disabled'}
$('{$form.name}_data_table').fade({literal}{ duration: 0.5, from: 1, to: 0.35 }{/literal});
{/if}
</script>
<span id='{$form.name}_selected_id' style="display:none">{$default_selected_id}</span>
<!-- table end -->	

	<div class="form_footer_panel">
		<div class="ajax_indicator">
			<div id='{$form.name}.load_disp' style="display:none" >
				<img src="{$image_url}/form_ajax_loader.gif"/>
			</div>
		</div>
		<div class="navi_panel">
	
		
		</div>		
	</div>
	<div class="v_spacer"></div>
</div>
</form>